[2020-08-24 11:11] VaraPrasad-MSFT commented on #384
@unckleg,  This issue is fixed and soon available in GA.

[2020-08-25 02:49] ShadowXVII opened #393 "Spell check unavailable in Custom Tabs on Desktop clients"
#293 is still an issue.

Core issue posted here on UserVoice.
https://microsoftteams.uservoice.com/forums/908686-bug-reports/suggestions/40333423-bug-spell-check-proofing-tools-do-not-work-on-a

Affects all apps, such as Planner, Forms, Assignments, Education, Yammer, etc.

[2020-08-25 07:15] Trinetra-MSFT commented on #393
@ShadowXVII This is a limitation of our Electron-based Desktop Client. Most browsers seem to provide built-in spell checking capabilities but it doesn't seem like that's been implemented/enabled in our Desktop Client.

Please look at articles discussing options for enabling spell checking in Electron, e.g.:
https://ourcodeworld.com/articles/read/485/how-to-implement-and-enable-the-grammar-and-spel

[2020-08-25 07:18] ShadowXVII commented on #393
Have you used teams?

The spellcheck exists in the electron desktop client everywhere except tabs. I.e chats work fine, but there's an issue with spell check flowing to other tabs.

[2020-08-25 07:22] Trinetra-MSFT commented on #393
@ShadowXVII , Yes, above comment about the tabs only, Let me update it

[2020-08-25 07:24] ShadowXVII commented on #393
But it should follow to IFrames?
https://github.com/electron/electron/issues/13514

It works fine on web (using non browser spellcheck)

[2020-08-25 10:22] vipulw2011 commented on #377
@ydogandjiev Any update on this issue. This is the key feature I am trying to implement. I don't have mocks to share with you but I can explain you the flow.
I have built a personal tab in MS Teams which includes by web application embedded there. What I want is whenever a particular user receives a call, I need the details of that call in my personal tab application so that I can do some data pro

[2020-08-25 11:14] VaraPrasad-MSFT commented on #389
@benji24290 , There is a feature request on this but currently we cannot give you an ETA on when this will be available

[2020-08-25 12:24] olafur164 commented on #358
@Gousia-MSFT This seems also to be happening on iPadOS 13.6.1

[2020-08-25 12:42] VaraPrasad-MSFT commented on #383
Are you doing authentication ? can you share some screenshots.

[2020-08-25 13:05] vipulw2011 commented on #377
@Wajeed-msft Is there any update on this previous issue you closed ?
https://github.com/MicrosoftDocs/msteams-docs/issues/807

[2020-08-26 20:40] RobPethick opened #397 "[Question] How to run e2e tests on a custom tab in teams?"
I'd like to write some end to end tests on my app which exists as a custom tab within teams. I'm a bit daunted about how to start, will it be possible to get Selenium, Cypress or similar to log in with some microsoft credentials I set up?

Or will I have to fake the teams frame? If so is there any instructions on how to mock some of the teams SDK particularly the getContext call?

[2020-08-26 23:20] petecuttriss commented on #300
Hi everyone, we are also seeing the same issue.  Just checking to see if there has been any change to the status of this bug, thanks @Subhasish-msft

[2020-08-27 14:29] Subhasish-msft commented on #377
@vipulw2011 , You could create a [subscription ](https://docs.microsoft.com/en-us/graph/api/subscription-post-subscriptions?view=graph-rest-1.0&tabs=http)for the callRecord API. It Subscribes a listener application to receive change notifications when changes occurs in Microsoft Graph.

[2020-08-29 19:26] vman opened #398 "parentMessageId contains the id of the top level message. But the id of the reply message seems to be missing."
Hello

When `teams-js` is loaded in a task module invoked from a message action and I have a look at the context object:

1) If the message action was invoked in a Teams channel top level message, the `parentMessageId` property contains the correct id of the top level message
2) However, if the message action is invoked on a reply to a top level message, I am not able to find a property which cont

[2020-08-30 14:49] vman commented on #386
I have seen that the chatId is only populated if you are in the context of a personal chat (1:1) or a group chat. If you are in the context of a teams channel, the chatId will be empty.

[2020-08-31 06:36] vipulw2011 commented on #377
@Subhasish-msft I will try and let you know

[2020-08-31 06:37] vipulw2011 commented on #377
@bijaykush Any update on the issue you created.
https://github.com/microsoftgraph/microsoft-graph-docs/issues/8191

[2020-08-31 07:46] bijaykush commented on #377
@vipulw2011
No update on this. I am still waiting for this.

@Subhasish-msft
I think subscribing callRecords API will give change notifications at the end of the call not when the call is started.

[2020-08-31 08:23] Nikitha-MSFT commented on #386
Could you please share the screen shots of personal chat, group chat and in teams channel?

[2020-08-31 09:10] abdulkareemnalband opened #399 "Bug: Cannot add our app tab to private channel."
Cannot Add our application tab to private channel. No errors in settings page, but we get "we couldn't save your tab settings. please try again" In UI .
![image](https://user-images.githubusercontent.com/3139353/91703798-61684080-eb98-11ea-986b-91fc55ba9bab.png)

Adding tab to non private channels works great.

[2020-08-31 14:48] vman commented on #386
@Nikitha-MSFT I didn't mean to report that as a bug. Was trying to add more details to maybe explain the behaviour OP was seeing. I think the chatId being empty in a teams channel is by design as we are not in the context of a chat then.

[2020-08-31 15:17] VaraPrasad-MSFT commented on #399
Can you please share the manifest.

[2020-09-01 05:18] abdulkareemnalband commented on #399
@VaraPrasad-MSFT
here you go

[TeamsLocalhost.zip](https://github.com/OfficeDev/microsoft-teams-library-js/files/5154071/TeamsLocalhost.zip)

[2020-09-01 07:35] Nikitha-MSFT commented on #398
That is by design. Are you facing any issue? could you please explain your scenario in more detail?

[2020-09-01 08:45] vman commented on #398
When we invoke a message action on a reply in a teams channel, we want to open a task module.

Inside that task module, we want to use teams js to know on which reply the message action was invoked.

This is easy to do if the message action was invoked on a top level message in the thread as the parentMessageId propety contains the id of the top level message.

But using teams js in the task modul

[2020-09-02 13:46] VaraPrasad-MSFT commented on #399
Could you please change the loclhost urls to [ngrok ](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/debug#locally-hosted)and try.

[2020-09-03 04:13] abdulkareemnalband commented on #399
@VaraPrasad-MSFT  it works fine when used with regular (I mean non private channels)
It only fails on private channel

Same thing happens with our hosted sites,

[2020-09-03 04:17] abdulkareemnalband commented on #399
[DecisionsMaster2.zip](https://github.com/OfficeDev/microsoft-teams-library-js/files/5166118/DecisionsMaster2.zip)
Here is hosted one

[2020-09-03 09:03] Gousia-MSFT commented on #397
@RobPethick For getContext in particular, we would recommend  passing the data through URL placeholders. This makes it easier to test the tab in isolation, and it's also faster as you can avoid waiting for both initialize() and getContext().

For a true end-to-end test, you could try using Selenium .

[2020-09-04 06:01] Nikitha-MSFT commented on #386
@vman - Yes, You will get a chat Id only in the tabs in a group chat context, Chatid in teams channel is empty that is by design.

[2020-09-04 07:43] Nikitha-MSFT commented on #398
Bot will not receive the Reply id. That is by design. You need to get the reply id using [Get reply AP](https://docs.microsoft.com/en-us/graph/api/channel-get-messagereply?view=graph-rest-beta&tabs=http)I and pass it to task module.

[2020-09-04 07:49] vman commented on #398
Hi @Nikitha-MSFT , the API you mention:
beta/teams/{teamId}/channels/{channelId}/messages/{messageId}/replies/**{replyId}**

needs a **replyId** to get the replies. From where do I get this? Also, do you have any examples of passing parameters to a task module?

[2020-09-04 10:06] RobPethick commented on #397
@Gousia-MSFT - thanks for the answer - could you expand a bit more on what you mean by URL placeholders?
Do you mean pass a dummy context as query params and read it from there rather than calling getContext in my method

[2020-09-04 10:42] Gousia-MSFT commented on #397
@RobPethick  You could get the Tab context by passing the URL placeholder from the manifest file instead of calling getContext. Please take a look at [Getting context using URL placeholders](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context#getting-context-by-inserting-url-placeholder-values).

[2020-09-07 05:40] Nikitha-MSFT commented on #398
@vman -Yes, You can get reply id by using [list channel message replies](https://docs.microsoft.com/en-us/graph/api/channel-list-messagereplies?view=graph-rest-beta&tabs=http) Also you can pass parameter to task module along with your URL, if the URL accept parameter then you would be able to pass it. Could you please check this [code snippet](https://github.com/Abhijit-MSFT/TaskManagement/blob/ma

[2020-09-07 10:08] avaneerd opened #404 "Teams authenticate doesn't work from add-in from Word within Teams client"
We have an Office web add-in that requires authentication, this add-in can be used in the majority of the office online suite (Word, Excel, etc.).
When opening a Office document in Teams it opens that document in Office online embedded (iframe) in Teams.
We can open our add-in from that view, but using `microsoftTeams.authentication.authenticate` will open a new window in an external browser.

We

[2020-09-07 15:25] sergeyv-creware opened #405 "microsoftTeams.tasks.submitTask does not send task/submit message to bot from mobile Teams app (iOS)"
1. Have bot replied to a user with following Hero card
[code]
2. User press Edit in bot reply
3. Bot receives task/fetch message and replies with
[code]
4. Page loads fine in Teams App
5. Behind the page there is a script, that is supposed to submit data back to bot upon user clicks a button, see snippet below
[code]
6. Clicking Save button in task module page on mobile (iOS) leads to task module

[2020-09-07 15:45] sergeyv-creware opened #406 "Discrepancies in handling tap Action between desktop & mobile Teams app"
1. Have bot replied to user with following attachment
[code]
2. clicking list item on mobile Teams app results in following request
[code]
3. clicking list item on desktop/web Teams app results in following request
[code]
4. Discrepancies marked with **** above. As a result bot can not handle task/fetch message properly since for mobile request is routed to OnTeamsCardActionInvokeAsync by BotFrame

[2020-09-09 06:54] Nikitha-MSFT commented on #406
We are not able to reproduce the issue at our end. Could you please share the code what you are trying?
Here is the code what i have tested :
list card tap action:
[code]
response when tap action is performed:

[code]

[2020-09-09 09:15] sergeyv-creware commented on #406
@Nikitha-MSFT it would take a little bit of time to provide isolated code sample, however based on your inputs , you're using android
[code]
This problem is observed only on iOS based on my initial report.

[2020-09-09 11:14] VaraPrasad-MSFT commented on #399
Thanks for reaching out to us ! We are checking this internally.

[2020-09-09 11:45] Gousia-MSFT commented on #374
@abdulkareemnalband Thanks for your patience here! We had a discussion on this internally and this isn't currently available. Please feel free to raise a [Uservoice ](https://microsoftteams.uservoice.com/)for the same.

[2020-09-09 11:45] #374 closed

[2020-09-09 12:37] abdulkareemnalband commented on #374
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/41347900-feature-request-implement-retrieval-of-marketing

[2020-09-10 10:49] Nikitha-MSFT commented on #406
We are able to reproduce the issue at our end. Raised a bug

[2020-09-10 15:10] #399 closed

[2020-09-10 15:12] abdulkareemnalband opened #409 "Bug: Group Id is missing in context for settings in private channel"
`groupId` is missing in teams context for private channel

[2020-09-10 15:12] abdulkareemnalband commented on #399
created #409

[2020-09-11 07:51] Gousia-MSFT commented on #409
@abdulkareemnalband Group id is undefined for private channels. The data you receive from the getContext call will be obfuscated to protect the privacy of the channel. Please check the document [here](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context#retrieving-context-in-private-channels)

[2020-09-11 11:53] #409 closed

[2020-09-11 15:33] VaraPrasad-MSFT commented on #405
@sergeyv-creware , Thanks for reaching out. We are able to reproduce the issue at our end and raised a bug.

[2020-09-11 20:52] benji24290 commented on #389
@VaraPrasad-MSFT thank you very much for your feedback.
I understand that you can't give me a time frame for this, but I'm sure that many other developers would appreciate a summary of the available native features on the different platforms. This would make it easier to evaluate whether a team is suitable for an application.

[2020-09-14 21:11] #397 closed

[2020-09-15 06:52] andylwelch opened #410 "openFilePreview returns "App does not have the required permissions for this operation""
Hi,

My application uses the `openFilePreview()` function to navigate my application's Teams Tab to a file uploaded into that team.  This works perfectly in my private application instances, but when installed via the App Store I receive the following error result "App does not have the required permissions for this operation"

I managed to capture this error by passing a callback function as per

[2020-09-15 22:56] andylwelch opened #412 "'executeDeepLink()' fails on file URL with "Cannot read property 'baseUrl' of undefined""
When I use `executeDeepLink(url)` in either web or desktop apps, the following error is logged in the Teams console "

"Cannot read property 'baseUrl' of undefined"

![image](https://user-images.githubusercontent.com/7505965/93272888-e76fc280-f7f9-11ea-8069-9d5a2b029043.png)

I am attempting to use [this URL](https://teams.microsoft.com/l/file/e1a40c88-aede-4641-9fc8-06c8332a3a47?channelId=19%3Aa9

[2020-09-16 02:10] SLdragon opened #413 "Teams SDK would throw error when call initialize multiple times"
Here is an simple example:

[code]

And it would throw error:
![image](https://user-images.githubusercontent.com/5545529/93284060-baa3b700-f7c9-11ea-8e38-9b4c4a3659b0.png)

In our scenario, we have a SDK wrapper, which would call the init function to get SSO token:
[code]

Outside the SDK wrapper, user may call Teams SDK initialize function himself like below:
[code]

Then this error would throw.

[2020-09-16 02:23] GavinThompson commented on #384
@VaraPrasad-MSFT Do you have an ETA on when this will be available? Currently building a Tabs app, and context.meetingId is [available in the documentation](https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams.context?view=msteams-client-js-latest), however it is always returning a blank string.

[2020-09-16 03:31] VaraPrasad-MSFT commented on #384
@GavinThompson , We don't have any ETA to share when it will be available in GA.

[2020-09-16 11:56] Nikitha-MSFT commented on #412
we are not able to repro the issue at our end. Could you please share the code you are trying?

[2020-09-16 14:05] Nikitha-MSFT commented on #410
openFilePreview api is not available for 3P apps.

[2020-09-16 22:47] andylwelch commented on #412
Hi @Nikitha-MSFT

Here is an extract of the React app I am running in a tab inside teams:
[code]

where link.detailsUrl is [this URL](https://teams.microsoft.com/l/file/e1a40c88-aede-4641-9fc8-06c8332a3a47?channelId=19%3Aa971080e0db24090884f31e5d0942575%40thread.skype&entityId=e1a40c88-aede-4641-9fc8-06c8332a3a47&fileType=xml&groupId=5188151c-09fe-4817-b60f-d06881f85fb5&objectUrl=https%3A%2F%2Fred

[2020-09-17 00:29] ydogandjiev commented on #413
@SLdragon, it appears that your are calling the `microsoftTeams.initialize()` API incorrectly. This API only takes an optional callback function as the first parameter and an optional list of supported parent/child origins as the second parameter. Can you help me understand why you are trying to pass the `window` object to this API? That is not correct and will not work.

[2020-09-17 00:29] #413 closed

[2020-09-17 00:31] ydogandjiev commented on #412
@andylwelch, how are you constructing the deep link URL for your scenario? I don't believe the file deep link is one of our publicly documented Teams deep links which might explain why it doesn't work with our `executeDeepLink` API:
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links

[2020-09-17 00:43] ydogandjiev commented on #275
@shane99a, you can typically determine if you are running in the auth popup simply based on your routes. For example, your auth flow would typically start at something like https://myapp.com/auth/begin and then end at https://myapp.com/auth/end. You would want to make sure that the code running on these begin and end pages wouldn't try to trigger a secondary auth flow itself.

Additionally, we rec

[2020-09-17 00:43] #275 closed

[2020-09-17 02:41] SLdragon opened #415 "AAD login page hang when trigger inside browser using different domain"
I have an index page which contains the code to trigger AAD login page

[code]

And in the login page, the code is as below:
[code]

MY_DOMAIN is **cross-domain** and it works fine when in the Teams Desktop, Teams Andorid and Teams IOS.

However, this is not work when in the Teams Web, the login page would hang, and the ```microsoftTeams.getContext``` callback never fire

[2020-09-17 04:46] andylwelch commented on #412
@ydogandjiev as per https://github.com/MicrosoftDocs/msteams-docs/issues/1174
"... just not documented. Here is a sample format for deeplink to files."

[2020-09-17 05:02] SLdragon commented on #413
@ydogandjiev , we are using teams toolkit 1.0.4, in this version, the generated template would contains this code:
[code]

But in the version 1.0.5, there is no window object:
[code]

Not sure whether it is a typo from Teams Toolkit VSCode extension

[2020-09-17 05:42] Trinetra-MSFT commented on #415
@SLdragon , Could you please provide the manifest & what error (snapshot) you are getting in browser console?

[2020-09-17 23:35] andylwelch commented on #410
Oh, why not? It's a great feature! It works perfectly in my private apps too, just not the app from Teams store. Can this be reviewed please?

[2020-09-18 01:12] SLdragon commented on #415
Hi, @Trinetra-MSFT , I put the manifest here:

[manifest.zip](https://github.com/OfficeDev/microsoft-teams-library-js/files/5242756/manifest.zip)

No error would show, but it hangs because the ```getContext````callback is never called in the login page.
[code]

This issue only happen when run teams in browser.

[2020-09-18 10:39] piekenpuil opened #418 "problem with setValidityState and ngrok"
When running my app on localhost, and tunneling through ngrok, the code microsoftTeams.settings.setValidityState(true); doesn't seem to work.
It does work when I have my app running in e.g. azure.
Is this on purpose ? Makes it hard to debug.

[2020-09-19 05:36] GryaznovGI opened #419 "Yet another problem with notifySuccess and successCallback"
Hi all!

I know that this question has been asked many times. But I am stuck and need some help anyway. I have a tab app, and I am trying to authorize inside the third-party site (Trello) inside my app to get an access token.

I have the auth start-page with the address `https://dev95.planyway.com/standalone/html/standalone.html`. There is the page that I am calling the `authentication.authenticat

[2020-09-21 05:02] Trinetra-MSFT commented on #418
@piekenpuil , Did you mean you are not able to hit the `setValidityState `method on ngrok but when code is deployed over Azure it is working? You can try this code for the [configurationpage ](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/create-tab-pages/configuration-page) here,

[2020-09-21 08:29] Trinetra-MSFT commented on #415
@SLdragon , I can see the GetContext is getting fired within Teams,
![image](https://user-images.githubusercontent.com/50989436/93746327-89d0e100-fc12-11ea-8341-2b7045ce8798.png)

[2020-09-22 03:25] SLdragon commented on #415
Hi,@Trinetra-MSFT,  I create a full sample for test, , You can follow this step to repro this issue:

1. Open teams in browser

2. download and install this app:
[Development.zip](https://github.com/OfficeDev/microsoft-teams-library-js/files/5259038/Development.zip)

3. Click OK when you see this dialog
![image](https://user-images.githubusercontent.com/5545529/93841426-21433c00-fcc6-11ea-81e6-eed

[2020-09-22 06:56] Nikitha-MSFT commented on #412
We are not able to repro it at our end. I have tried the same URL provided by you it is working fine. Here is the code I have tried
[code]
Deeplink is working fine and the issue is with the code. Could you please check the code?

[2020-09-23 00:35] andylwelch commented on #412
Thanks for that code. I have never seen that URL format with `/dl/launcher/launcher.html?url=...&type=file&deeplinkId=...&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true`.

If I use that format instead I can see that it does open the link in the browser.  Unfortunately it always opens a new tab in the web browser even if I am in the desktop app.  This is a poor user experienc

[2020-09-23 03:53] ministainer opened #420 "microsoftTeams.authentication.getAuthToken within Tab Configuration, refresh the whole page after successful consent (First time usage only)"
Hi,

I have a complex configuration scenario that requires my tab configuration to be SSO enabled. I'm using microsoftTeams.authentication.getAuthToken to perform the SSO and it works fine with one simple glitch.  When I try to configure the tab for the first time, the authentication flow prompt the user to consent to the permission required.
After user consent is successfully done the whole teams

[2020-09-23 04:38] Trinetra-MSFT commented on #419
@GryaznovGI , I tried to sideload your manifest within Teams, I was able to login through trello
![image](https://user-images.githubusercontent.com/50989436/93967329-983f0a00-fd84-11ea-84f0-eedf7e581803.png)

[2020-09-23 06:04] GryaznovGI commented on #419
@Trinetra-MSFT , thank you for looking into it!

It is strange a lot. I've tried it just now, and the issue still exists.
I still see the empty authorization pop up after redirecting from the Trello auth page. And the successCallback is not triggered.

![image](https://user-images.githubusercontent.com/2621625/93970234-e1e52000-fd97-11ea-8bf7-956818b72f8c.png)

I can close it manually, and the fai

[2020-09-24 09:12] #406 closed

[2020-09-24 09:13] Gousia-MSFT commented on #405
We are tracking this internally

[2020-09-24 09:13] #405 closed

[2020-09-24 09:13] #398 closed

[2020-09-24 09:16] #388 closed

[2020-09-24 09:17] #386 closed

[2020-09-24 09:17] #384 closed

[2020-09-24 09:17] #383 closed

[2020-09-24 09:18] #381 closed

[2020-09-24 09:19] #370 closed

[2020-09-24 09:20] #368 closed

[2020-09-24 09:20] #354 closed

[2020-09-24 09:20] #346 closed

[2020-09-24 09:23] #345 closed

[2020-09-24 09:25] Gousia-MSFT commented on #341
@pankajmi2 Thanks for sharing your feedback with us! We have forwarded it to the right team.

[2020-09-24 09:25] #341 closed

[2020-09-24 09:25] #332 closed

[2020-09-24 09:26] #327 closed

[2020-09-24 09:26] #323 closed

[2020-09-24 09:26] #318 closed

[2020-09-24 09:27] #282 closed

[2020-09-24 11:44] VaraPrasad-MSFT commented on #382
Currently it is not possible.

[2020-09-24 12:28] Trinetra-MSFT commented on #298
This is not supported yet. Please feel free to reopen if you any query

[2020-09-24 12:28] #298 closed

[2020-09-24 13:25] Trinetra-MSFT commented on #393
@ShadowXVII: We have an Feature raised for this.

As part of Electron 8+ rollouts, we have modified our spellchecker dictionaries implementation.  Going forward, we will be using native platform spellchecker (where available). i.e. just like Edge, on Windows 10, we will be relying on Windows 10 dictionaries. This improves overall spellchecking experience and will recognize terms - such as acronyms

[2020-09-24 13:52] Trinetra-MSFT commented on #419
@GryaznovGI , No luck to repro this at my end, After following the complete login process, pop was getting closed and i was able to see the dashboard. Could you try to clear you cache and try?
![image](https://user-images.githubusercontent.com/50989436/94154113-31604480-fe9b-11ea-803c-f44fa5918d95.png)

[2020-09-24 21:39] ShadowXVII commented on #393
Thanks for the info. I use the proofing tools so would be good to see them in teams one day.

It's odd to assume tabs will do their own spellcheck. Especially with so many Microsoft apps like planner, yammer etc that would benefit from it and haven't provided their own.

Also, it's inconsistent because it works in web based versions but seems to have been turned off in desktop.

Anyway, hope we se

[2020-09-25 04:28] Trinetra-MSFT commented on #393
Please feel free to reopen if you further query on this. This feature is in our backlog, we are working on it. once it is rolled out we will let you know.

[2020-09-25 04:28] #393 closed

[2020-09-25 04:56] Manish-MSFT commented on #404
hi @avaneerd , We are investigating issue internally.

[2020-09-25 05:39] GryaznovGI commented on #419
@Trinetra-MSFT , thank you again!

I cleared the cache, but it didn't help.

I dug into your library code, and, as I noticed, the issue appears in the following calls chain.

In `authentication.notifySuccess` method after the call of `sendMessageRequestToParent('authentication.authenticate.success', [result]);` I fall into the branch:
[code]

This branch starts with calling of `getTargetOrigin(tar

[2020-09-25 16:44] GavinThompson commented on #384
@Gousia-MSFT @VaraPrasad-MSFT  This has been closed but the bug still appears to be present, was a fix released?

[2020-09-25 23:37] SLdragon commented on #415
Ping~~
Any ideas about how to solve this problem?

[2020-09-28 08:10] VaraPrasad-MSFT commented on #384
@GavinThompson , We are tracking this internally but we can't give any ETA on this.

[2020-09-28 10:34] piekenpuil commented on #418
@Trinetra-MSFT The code you're referring to is known to me.
The setValidityState method is being hit, both when I run my app on localhost through ngrok, or when deployed in azure. But in the  ngrok scenario the code doesn't make the save button enabled.
I get the same phenomenon when running [this](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/create-tab-pages/configuration-

[2020-09-29 05:40] Trinetra-MSFT commented on #415
@SLdragon , I tested your manifest but not able to repro this issue The pop up was getting closed when i clicked on` Auth and Show` button. Just need to check where you are facing this issue, is it Teams web or Teams Desktop?
![image](https://user-images.githubusercontent.com/50989436/94516683-f7e55b80-0243-11eb-852c-a58daced6623.png)

[2020-09-29 08:40] Nikitha-MSFT commented on #412
@andylwelch Could you please share your manifest and repro steps?

[2020-09-30 00:45] andylwelch commented on #412
**package.json**
[code]

**Steps:**
1. Generate a url using the code shared above
2. Trigger it to open with `executeDeepLink(url)`

**Expected output:**
In Teams app, opens the teams files tab without opening the browser first (like a normal clickable URL)

**Actual output:**
Using url `https://teams.microsoft.com/dl/launcher/launcher.html?...`: the browser opens

Using url `https://teams.microso

[2020-09-30 08:46] Nikitha-MSFT commented on #412
The file that you are uploading in teams. Could you please share that file?

[2020-10-01 00:17] andylwelch commented on #412
The file is irrelevant. It happens with every file I upload. The test case I was describing above was a generic xml file I had on my system but it happens with every file I have tried ie .csv .txt etc

[2020-10-01 05:19] Trinetra-MSFT commented on #420
@ministainer , Can you please look at this [SSO sample code](https://github.com/ydogandjiev/taskmeow/blob/master/manifest/prod/manifest.json) for configurable Tabs? You need to set SSO `?inTeams=true` in your configuration URL.

[2020-10-01 10:06] Nikitha-MSFT commented on #412
How you are testing the deeplink inside the teams?

[2020-10-02 01:22] andylwelch commented on #412
The `executeDeepLink()` command is being run inside a tab loading our webpage inside a Team.

[2020-10-02 06:09] niicojs opened #422 "Doesn't work with Snowpack or Vite"
This lib doesn't work with [Snowpack ](https://www.snowpack.dev/) or [Vite](https://github.com/vitejs/vite). I don't really know what's causing this but it's like there is no export when using those tools.
It seems they are the futur of dev tools so we should make this work.

[2020-10-02 14:17] carlosvini opened #423 "registerOnRemoveHandler"

[2020-10-02 14:17] #423 closed

[2020-10-02 14:23] carlosvini opened #424 "Error when calling registerOnRemoveHandler on Connector"
When I try to register a remove handler on a connector it says:

![image](https://user-images.githubusercontent.com/4670443/94933681-1bf1a880-04a1-11eb-8dbd-9385de425b1a.png)

I'm following the instructions from here https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-creating:

Code:

[code]

What else should I do?

[2020-10-05 06:41] Trinetra-MSFT commented on #424
@carlosvini , Could you please check this [sample code](https://github.com/OfficeDev/microsoft-teams-sample-connector-csharp/blob/master/TeamsToDoAppConnector/Views/Connector/Setup.cshtml) for connector setup page and handling remove Event?

[2020-10-05 07:06] Nikitha-MSFT commented on #412
Could you please share manifest?

[2020-10-05 14:54] carlosvini commented on #424
Thanks @Trinetra-MSFT, I had already seen this sample code. Turns out I got it working by moving the registerOnRemoveHandler call immediately after initialize. This still doesn't make much sense to me, since the registerOnSaveHandler works just fine where it is, but I won't investigate any further.

[2020-10-05 14:54] #424 closed

[2020-10-06 00:27] andylwelch commented on #412
Here is our Teams app `manifest.json` with all guids and company info redacted
[manifest.json.txt](https://github.com/OfficeDev/microsoft-teams-library-js/files/5330769/manifest.json.txt)

[2020-10-06 08:09] Nikitha-MSFT commented on #410
We don't currently have plans to expose this API to 3P apps.

[2020-10-06 16:22] LaljiG opened #426 "Settings for Custom Tab in Teams"
If you go into amend Settings for a custom tab that you have created before, is there anyway to get the existing websiteUrl and contentUrl values in your configuration page?

The microsoftTeams.getContext method doesn't seem to make these Urls available (like it does entityId).

For a standard tab (e.g. Website, Word) when you go into amend the settings, Teams automatically pre-populates existing

[2020-10-07 17:01] Afshin1980 opened #429 "context.entityId is not set on mobile app"
I have an issue related to the microsoftTeams.getContext() function in the mobile app. for some reason the entityId is set to empty string on the mobile app but if in the browser and in Microsoft teams windows application in can see the entityId value.

Is this a bug or is there a reason why it is not available in mobile?

[2020-10-08 06:11] Nikitha-MSFT commented on #412
@andylwelch We need the Bot id as well to test this issue you can reachout to microsoftteamsdev@microsoft.com alias with your actual manifest & close the issue here.

[2020-10-08 12:23] #415 closed

[2020-10-08 12:25] Gousia-MSFT commented on #420
Please re-open if you still face any issues here

[2020-10-08 12:25] #420 closed

[2020-10-09 01:53] SLdragon commented on #415
You need to try it in the browser only, and not try it in desktop first. Because you tried it first in browser, then the login information has been cached in the AAD, so you do not need to login again in the browser.

[2020-10-09 01:58] SLdragon opened #431 "AAD login page hang when trigger inside browser using different domain"
I have an index page which contains the code to trigger AAD login page

[code]

And in the login page, the code is as below:
[code]

MY_DOMAIN is **cross-domain** and it works fine when in the Teams Desktop, Teams Andorid and Teams IOS.

However, this is not work when in the Teams Web, the login page would hang, and the ```microsoftTeams.getContext``` callback never fire

[2020-10-09 02:01] SLdragon commented on #431
Full test sample to repro this issue:

1. Open teams in **browser**

2. Download and install this app:
[Development.zip](https://github.com/OfficeDev/microsoft-teams-library-js/files/5259038/Development.zip)

3. Click OK when you see this dialog
![image](https://user-images.githubusercontent.com/5545529/93841426-21433c00-fcc6-11ea-81e6-eed248674e4f.png)

4. Click Auth and Show button, you would se

[2020-10-09 05:24] Trinetra-MSFT commented on #426
@LaljiG , [Tab context](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context#getting-context-by-using-the-microsoft-teams-javascript-library) doesn't return website URL and Content URL for custom tab, it return only teamsiteURL, What you can do to store the website URL/Content URL somewhere and reuse it. You can also check [get Tab](https://docs.microsoft.com/e

[2020-10-09 05:32] aosolis commented on #426
Hello! In the configuration page you can call `microsoftTeams.settings.getSettings` to get the current configuration for the tab.
(https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams.settings?view=msteams-client-js-latest#getsettings--instancesettings--settings-----void-)

[2020-10-09 08:09] Trinetra-MSFT commented on #418
@piekenpuil , Can you check your ngrok URL once for the configuration page, and provide code snippet that you are trying to we can check this at our end?

[2020-10-09 09:02] Manish-MSFT commented on #431
@SLdragon : We tried repro, but at step 3 we don't see any pop up? Do you have any button to trigger auth-login popup?
![image](https://user-images.githubusercontent.com/70321016/95564280-2fba8300-0a3c-11eb-8509-8e0dea7d2928.png)

[2020-10-09 22:42] SLdragon commented on #431
Hi, @Manish-MSFT , because in the previous test, you already login, so that this time it doesn't pop up login window.
You can go to https://myapplications.microsoft.com/ and revoke permission for this app, the app name is:

Prod33ca2d99-c5d4-4ff0-a953-f0582158deca

[2020-10-09 23:04] SLdragon commented on #431
If you have trouble to repro this issue, I can share my screen to repro it for you through teams meeting, my alias is rentu, thank you!

[2020-10-12 03:06] Manish-MSFT commented on #431
@SLdragon, teams meeting would great. Please let me your available time.

[2020-10-12 03:34] SLdragon commented on #431
@Manish-MSFT , thank you very much! My alias is "rentu" and what's your alias? I will ping you and schedule a meeting for that!

[2020-10-12 03:44] Manish-MSFT commented on #431
@SLdragon , Its v-manisc@microsoft.com.

[2020-10-12 03:49] Manish-MSFT commented on #404
hi @avaneerd , We are aware of this missing feature and have started discussions on ways to fix within the next few quarters. As of now, there is no clear timeline yet.

[2020-10-12 10:32] Wajeed-msft commented on #181
The behavior described in this issue is by design. We only allow users to rename tabs via the Teams UI in order to ensure that the experience is always predictable and tabs don't just "disappear" because their name changed without the user's awareness.

Entry point for renaming:
![image](https://user-images.githubusercontent.com/31851992/95736696-2e8b8f00-0ca4-11eb-9d5c-ee88618d8084.png)

Tab rena

[2020-10-12 10:32] #181 closed

[2020-10-12 22:20] quesurifn opened #435 "registerOnRemoveHandle is not allowed in the settings context"
I'm getting an error within teams like `registerOnRemoveHandle is not allowed in the settings context` when building an Office365 Connector

No matter where I place the handler, this happens. How does this get fixed?

Code:

[code]

[2020-10-13 00:56] aosolis commented on #435
Hello! `registerOnRemoveHandler` should be called from the [tab removal page](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/create-tab-pages/removal-page), because that's the only page that will call that handler. That is why it's forbidden to call that method from the `settings` context.

[2020-10-13 07:07] #410 closed

[2020-10-13 07:52] abdulkareemnalband opened #436 "Bug: ChannelType is undefined in 1.8.0"
[code]

above snippet used to work in `1.7.0` , not anymore in `1.8.0`

looks like 65d0ab8e0a81245041b53145652cd724341b6340 has caused this regression

[2020-10-13 15:56] quesurifn commented on #435
@aosolis This is not a tab it's an Office 365 connector

[2020-10-14 04:21] maximo-calero opened #437 "Wrong resource URL in manifest.json"
Testing SSO, I found out when you build a Development.zip to test your Personal Tab the manifest.json has a wrong URL in the resource property.

In Visual Studio Code I assigned this value:

![image](https://user-images.githubusercontent.com/35887433/95942879-9c3ed480-0de4-11eb-9f93-a31a3cbf0895.png)

But in the manifest.json, inside Development.zip, I have this value:

![image](https://user-image

[2020-10-14 11:04] Abhijit-MSFT commented on #437
You need to provide your resource url. It will change for every application. Check [here ](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso#2-update-your-microsoft-teams-application-manifest)on how to build this url. Let me know if this is not what you are looking for

[2020-10-14 11:31] maximo-calero commented on #437
I provided it, :
`    "webApplicationInfo": {
      "id": "37b95c2a-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
      "resource": "api://devmcalero.ngrok.io/37b95c2a-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    }
`
But once you save the manifest.json in Visual Studio Code, the manifest.jsonof the development.zip, has the following content:
`    "webApplicationInfo": {
        "id": "37b95c2a-xxxx-xxxx-xxxx-xxxxxxxxxxxx",

[2020-10-15 02:10] SLdragon commented on #431
As discussed online, here are some information you can refer:

Home page URL and start login page URL are crossdomain:
Home page URL: https://4240c5d7-2fe5-48b8-a9db-204b6ba2073c-prod.azureedge.net/index.html#/tab
Start login Page URL: https://teamsruntimeconnectorrentu.azurewebsites.net/auth/auth-start.html

The login page would hang, and the microsoftTeams.getContext callback never fire in brows

[2020-10-15 04:18] Manish-MSFT commented on #431
@SLdragon, Sure. We are investigating this internally.

[2020-10-19 11:58] RamaMohanaChary commented on #429
@Afshin1980:
As this is the known issue, we are working on it, will update you once it is ready

[2020-10-19 13:11] quesurifn commented on #435
registerOnRemove works in ComponentDidMount not componentWillMount

[2020-10-20 14:41] guypaskar commented on #298
@Trinetra-MSFT , @ydogandjiev  said in the past " it's something that's on our radar". Has anything progressed with that over the past year?

[2020-10-21 12:12] Trinetra-MSFT commented on #426
Please feel free to reopen if you have further queries on this.

[2020-10-21 12:12] #426 closed

[2020-10-21 12:52] nmishr opened #438 "First 2 links in readme.md are broken"
Clicking on the readme.me file in github leads to 404's

https://msdn.microsoft.com/en-us/microsoft-teams/
https://msdn.microsoft.com/en-us/microsoft-teams/jslibrary

[2020-10-21 14:04] quesurifn opened #439 "When is registerOnRemoveHandler called?"
Hello,

I'm developing an Office 365 connector for my company.

It looks like clicking the garbage can doesn't call the registerOnRemoveHandler. (see attached)

In what scenarios does the handler get called?

<img width="1246" alt="Screen Shot 2020-10-21 at 9 00 24 AM" src="https://user-images.githubusercontent.com/21092055/96730958-581b7900-137c-11eb-968e-7ec0426111cf.png">

[2020-10-22 06:01] Trinetra-MSFT commented on #419
@GryaznovGI , Please take a look at this [sample code](https://github.com/ydogandjiev/taskmeow/tree/master/manifest/prod) and working manifest?

[2020-10-22 07:28] Manish-MSFT commented on #431
Hi @SLdragon, HomePage URL and Start login Page URL must be on same domain for this to work. Its also documented below :
at the given [link] (https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-flow-tab)

Like other application auth flows in Teams, the start page must be on a domain that's in its validDomains list, and on the same domain as the post-login redir

[2020-10-22 07:51] SLdragon commented on #431
Thank you for your information, Manish

[2020-10-22 09:43] Trinetra-MSFT commented on #437
@maximo-calero , Can you try to save your `webApplicationInfo `
[code]

[2020-10-22 12:10] harshitagar opened #440 "Trying to open task module. Using the HTML Sdk."
I am trying to open the task module using the HTML sdk, It is working fine in WEB client of Teams but not in Desktop client. In desktop client it is trying to open my browsers tab.
Please give a solution fr it.
let taskInfo = {
    title: null,
    height: null,
    width: null,
    url: null,
    card: null,
    fallbackUrl: null,
    completionBotId: null,
};

taskInfo.url = "some url";
taskInfo

[2020-10-22 12:22] maximo-calero commented on #437
This issue is related with Microsoft Teams Toolkit as I saw today:
https://github.com/OfficeDev/microsoft-teams-app-quickstarts/issues/17
I think this issue can be closed.
Sorry, for the inconveniences

[2020-10-22 12:22] #437 closed

[2020-10-22 16:00] quesurifn commented on #439
Any update on this?

[2020-10-23 01:37] synth opened #441 "Personal tab does not carry over entity_id query parameter on iOS devices"
Given: A Microsoft Teams app that implements Personal/Static tab and specifies entityID in the manifest and is viewed on an iOS device such as an iPad.
Expected: It loads the personal tab by passing along an entity id.
Actual: The personal tab doesn't load on iOS because the entity_id query parameter is not passed along. The entity_id is passed along on all other platforms: Android, web and deskto

[2020-10-23 04:33] Trinetra-MSFT commented on #355
Bug is Resolved now, We set a new field FriendlyName for it, Let us know if you still face this issue. Closing this please feel free to reopen if you have further query. Thanks

[2020-10-23 04:33] #355 closed

[2020-10-23 10:41] skarahoda commented on #435
We have the same issue,

As far as I understand from code, `initialize` function sets frame context asynchronously. I noticed that the `microsoftTeams.settings.registerOnRemoveHandler` works when the initialize called and the context is not defined. That's why `microsoftTeams.settings.registerOnRemoveHandler` works for some cases.

[2020-10-23 15:22] quesurifn commented on #439
@shashishailaj @aosolis2

[2020-10-23 21:43] ydogandjiev commented on #199
Hi @JSteunou, @sharmajnu, are you still encountering this issue with the latest Teams Client SDK and latest version of our Teams iOS Client? If so, could you please clarify the exact repro steps and experience you're seeing?

[2020-10-26 08:05] JSteunou commented on #199
Sorry I could not tell you, I'm not on it anymore

[2020-10-26 17:46] quesurifn commented on #435
@aosolis We added a removeUrl
[code]

however teams does not load the page. Why would this be?

[2020-10-26 17:48] quesurifn commented on #435
Is there a requirement that the removalURL has to be different than the configUrl?

[2020-10-26 17:48] quesurifn commented on #435
@Trinetra-MSFT

[2020-10-27 05:15] Trinetra-MSFT commented on #435
@quesurifn , Let me check this, I will get back to you in sometime

[2020-10-27 06:04] Nikitha-MSFT commented on #440
We are not able to repro the issue at our end. Could you please check this [sample](https://github.com/OfficeDev/microsoft-teams-sample-task-module-csharp/blob/master/Microsoft.Teams.Samples.TaskModule.Web/Views/Home/Tasks.cshtml)?

[2020-10-27 06:54] anandvnath commented on #436
@abdulkareemnalband

Can you please share more about your project setup?
1. Is it a JS project pulling dependency for the Microsoft Teams SDK or is it a TS based project?
2. `import * as microsoftTeams , {ChannelType} from '@microsoft/teams-js' `. This statement itself throws an error for me . https://stackoverflow.com/questions/45231419/typescript-multiple-imports
3. Can you verify if other enums

[2020-10-27 08:55] skarahoda commented on #435
@Trinetra-MSFT You can also check this: https://github.com/zeplin/microsoft-teams-app/blob/main/src/client/containers/ConfigurationUpdateContainer/hooks/useConfigurationDelete.ts. We patch `@microsoft/teams-js` to fix the issue [here](https://github.com/zeplin/microsoft-teams-app/blob/main/patches/%40microsoft%2Bteams-js%2B1.6.0.patch). I hope it will help for you.

[2020-10-27 09:39] Manish-MSFT commented on #439
Hi @quesurifn, microsoftTeams.settings.registerOnRemoveHandler() is called whenever remove button is clicked. You can perform your cleanup operations on registerOnRemoveHandler() event and be sure that Connector has been removed.

[2020-10-27 11:05] Nikitha-MSFT commented on #441
We are not able to repro it at our end. Could you please check this [example](https://github.com/ydogandjiev/taskmeow/blob/master/manifest/prod/manifest.json). Also could you please confirm , are you trying to getContext for iOS device? Are you not getting the entity id in context for iOS?

[2020-10-27 11:33] RamaMohanaChary commented on #436
@abdulkareemnalband:

Could you please try with below import statements.
import * as microsoftTeams from "@microsoft/teams-js";
import {ChannelType} from '@microsoft/teams-js';

[2020-10-27 15:07] quesurifn commented on #439
@Manish-MSFT Great. At the moment we add the removeUrl into the settings however the remove button doesn't load our remove page. I posted an example here: https://github.com/OfficeDev/microsoft-teams-library-js/issues/439

Do you mind helping me with this?

[2020-10-27 20:19] synth commented on #441
@Nikitha-MSFT While I can install that example and pin the app into my desktop and web teams, it doesn't show up in android or ios teams. Further, I tried testing with other 3rd party apps and have the same issue where they don't appear in teams. I tried with: Polly, Zoom, and LucidChart.

In my testing on ios and android, I deleted the databases, uninstalled the apps, logged out multiple times -

[2020-10-28 02:51] abdulkareemnalband commented on #436
@anandvnath
1. Its typescript angular project
2. Sorry I mistyped here
     I'm importing them as either `import * as microsoftTeams  from '@microsoft/teams-js'` or `import {ChannelType} from '@microsoft/teams-js'` not as unified import
3. I don't know about others but `FrameContexts ` enum is working

[2020-10-28 03:11] SLdragon commented on #431
Hi, @Manish-MSFT , from the [docs](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-flow-tab), it is confusing, because it mentioned validate domain, if all domains (index.html, start-login.html, end-login.html) must in the same domain, then validate domains do not have any values, because we do not allowed pages in different domain.

I think the docs should

[2020-10-28 06:39] Manish-MSFT commented on #431
Hi @SLdragon, All three pages involved in authentication must belong to same domain. If you have additional webpages(which aren't involved in authentication) , these pages addresses can also be mentioned in the manifest, such that you have multiple domains in place.

[2020-10-28 08:19] SLdragon commented on #431
Thank you very much!

[2020-10-28 10:56] Manish-MSFT commented on #439
@quesurifn could you please post your handler code here? and also is remove button triggering your handler?

[2020-10-28 12:46] quesurifn commented on #439
@Manish-MSFT No. I don't think it's loading the page at all. Much less the javascript on the page.

`class App extends TeamsBaseComponent {
  constructor() {
    super()
    this.state = {
      insideTeams: null,
      channelName: null,
      channelId: null,
      teamName: null,
      teamId: null,
      webhookUrl: null,
      authCode: null,
      flowStep: 'pre-authentication',
      error:

[2020-10-28 12:48] quesurifn commented on #439
If there are syntax errors I apologize. I edited out all of our companies proprietary data

[2020-10-28 17:10] anandvnath commented on #436
@abdulkareemnalband

Thanks for you update.

Its good news that you found `FrameContexts` enum to be working. I suspect then the issue is specific to `ChannelType` as it is not imported in index.ts. Let me verify this with the help of internal team using an angular project.

[2020-10-29 14:02] quesurifn commented on #439
@Manish-MSFT Any update on this?

[2020-10-29 14:02] quesurifn commented on #435
@Trinetra-MSFT Any update on this?

[2020-10-30 06:08] Nikitha-MSFT commented on #441
We are not able to repro the issue at our end. Did you install the app in the right Tenant? Could you please check and update?

[2020-10-30 06:58] anandvnath commented on #436
@abdulkareemnalband

Thanks for your update. Can you please share a sample app that I can use to repro the issue? This will also help me verify the fix.

[2020-10-30 08:20] synth commented on #441
Yes, its definitely the correct tenant because as made sure to log out of all my devices and re-login using the exact same O365 credentials.

[2020-10-30 09:41] Trinetra-MSFT commented on #435
@quesurifn , you need to call the registerOnRemoveHandler after initialize. [microsoftTeams.settings.registerOnRemoveHandler().](https://github.com/OfficeDev/microsoft-teams-sample-connector-csharp/blob/master/TeamsToDoAppConnector/Views/Connector/Setup.cshtml) This event is getting triggered when user clicks on remove button in edit configuration page,
![image](https://user-images.githubuserconte

[2020-10-30 15:54] quesurifn commented on #435
@Trinetra-MSFT

[code]

Yields

[code]

In the console

[2020-10-30 16:03] quesurifn commented on #435
subsequently wrapping the removeHandler in isRemovalState allows removes the console error but the removal modal doesn't load anything.

Examples:

[code]

[2020-10-30 19:14] navzam opened #444 "tasks.startTask has incorrect type for submitHandler"
`microsoftTeams.tasks.startTask()` accepts a `submitHandler` that is called when the task module closes. The type of `submitHandler` is
[code]
But based on the [task module docs](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/task-modules/task-modules-tabs#example-submitting-the-result-of-a-task-module) and the type of [`submitTask()`](https://docs.microsoft.com/en

[2020-11-02 07:03] Nikitha-MSFT commented on #441
Could you please share Your manifest and repro steps?

[2020-11-02 07:20] abdulkareemnalband commented on #436
@anandvnath
here is stackblitz link with 1.7 where it works https://stackblitz.com/edit/teams-17?file=src/app/app.component.ts
here is stackblitz link with 1.8 where it does not work https://stackblitz.com/edit/team-18?file=src/app/app.component.ts

[2020-11-02 07:31] synth commented on #441
@Nikitha-MSFT So, the issue above is not particular to our manifest - just to be clear. Are you able to see Zoom or TaskMeow pinned in your mobile app drawer in either iOS or Android?

That said, I'm still happy to send your our manifest. We'd like to send it to you privately. Can you tell us a recommended way to do that?

[2020-11-02 12:50] Nikitha-MSFT commented on #444
You need to pass the Object to submithandler's result. The object contains the string

[2020-11-02 14:43] Nikitha-MSFT commented on #441
Could you please drop a mail at microsoftteamsdev@microsoft.com.

[2020-11-02 17:25] Trinetra-MSFT commented on #435
@quesurifn ,
I tried to create a fresh react app having connector following this [documentation](https://docs.microsoft.com/en-us/learn/modules/msteams-webhooks-connectors/7-exercise-o365-connectors), There is issue with the `registerOnRemoveHandler`  which is not allowed in setting context.  I will file a Bug for this and will track it.
[code]
![image](https://user-images.githubusercontent.com/50

[2020-11-02 17:35] quesurifn commented on #435
@Trinetra-MSFT Great. Do you have any idea how to get our React code to load the remove screen? Part of me worries if we submit the app it will be denied without this ability.

[2020-11-03 00:54] navzam commented on #444
The functionality works fine. I can pass an object in `submitTask()` and the object comes through in the `submitHandler`. I'm more talking about the TypeScript typings, which indicates that the handler's `result` can only be a `string`, when really it could be an `object`:

![submit_handler](https://user-images.githubusercontent.com/126523/97934859-bdcc1580-1d2b-11eb-8295-da9ab943fc37.PNG)

The `s

[2020-11-03 13:13] Trinetra-MSFT commented on #439
@quesurifn , Closing this thread as Duplicate of #435 will be addressing issue there.

[2020-11-03 13:13] #439 closed

[2020-11-03 13:16] Trinetra-MSFT commented on #435
Connector removal works fine once you configure connector in channel, Go to your configured connector list from channel, click on manage, You will be able to see the Remove screen for your connector on click of Remove button connector will be removing. That is already handled in sample code. You don't have write connector removal logic explicitly

[2020-11-03 14:01] quesurifn commented on #435
@Trinetra-MSFT I don't believe this to be the case. The removeURL is supposed to show a removal page which we've done but doesn't display. The handleOnRemoveHandler is supposed to handle cleanup yet, the page doesn't load so the handler doesn't load. We will reference this conversation on app submission.

[2020-11-04 11:19] Trinetra-MSFT commented on #435
@quesurifn , I've filed a Bug for registerOnRemoveHandler is not allowed in setting context. Will be updating you once it is fixed

[2020-11-05 08:24] lubobill1990 opened #445 "For an single tab APP, how to remove tabs to enhance user experience"
I find several Apps in App market, like Planer, don't show any tab on the top of iframe.

I have already set "isFullScreen" to true, but there are still tabs shown. I can't find any document about how to hide tabs.

I find there's a function, enterFullscreen, but it doesn't work.

[2020-11-05 18:11] ydogandjiev commented on #445
Hi @lubobill1990, the `isFullScreen` field in the app manifest is currently reserved for Microsoft-built apps as well as those deployed by tenant admins to the organizational catalog:
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/deploy-and-publish/overview#publish-to-your-organizations-app-catalog

For apps that are globally distributed via our Store we are obligated to show a

[2020-11-05 18:11] #445 closed

[2020-11-06 03:24] lubobill1990 commented on #445
Thanks Yuri! @ydogandjiev

[2020-11-06 05:06] Trinetra-MSFT commented on #419
Please feel free to reopen if you have further query on this.

[2020-11-06 05:06] #419 closed

[2020-11-06 14:54] quesurifn commented on #435
Quick update, I have a clue as to why it's not loading. There's a cookies tab with `https://https` in dev tools which makes me think that something is up with the remove url.

<img width="264" alt="Screen Shot 2020-11-06 at 9 53 25 AM" src="https://user-images.githubusercontent.com/21092055/98380052-10e8e580-2016-11eb-97f9-8df235657728.png">

[2020-11-09 10:14] marwalsch opened #446 "Protect a net core Web API with access tokens rather than ID tokens aquired through SSO"
I currently have the following flow to protect my .NET Core 3.1 Web API:
I'm fetching an ID token with `getAuthToken()` and set is as "Bearer {token}" to the Authorization header attribute.
The web API is configured to expect my 'api//:{endpoint}/{tenant}' as the audience and 'https://sts.windows.net/{tenant}' as the token issuer.

It works but as I understand the authorization flow i should use a

[2020-11-11 08:46] Trinetra-MSFT commented on #435
@quesurifn , Can you please reach out to `microsoftteamsdev@microsoft.com` for your query so we can check the issue over call? I've tested by putting the removeURL same as content URL and able to see the [set up page](https://github.com/OfficeDev/microsoft-teams-sample-connector-csharp/blob/master/TeamsToDoAppConnector/Views/Connector/Setup.cshtml)

[2020-11-11 11:28] anandvnath commented on #436
@abdulkareemnalband

Sorry for the delay!

I was able to successfully test that the fix in my branch solves the problem. Thanks for sharing your app. Indeed it was the missing ChannelType export that created this issue when we moved from const enum to enum.

If you wish to try the fix out, you can use https://github.com/OfficeDev/microsoft-teams-library-js/tree/anandnat/issue-436-channeltype

1. C

[2020-11-11 12:09] skarahoda commented on #435
@Trinetra-MSFT there is a problem that when `microsoftTeams.settings.registerOnRemoveHandler` is called right after `microsoftTeams.initialize` it works since the context is not defined yet. However the function is called in callback of `microsoftTeams.initialize` then it fails.

You can try following code [in your example](https://github.com/OfficeDev/microsoft-teams-sample-connector-csharp/blob/

[2020-11-11 16:12] baelan opened #450 "microsoft teams- user experience using the chats and looking at shared files."
Currently when you go to view files on the chats, say chat for group 1, you can only view the documents and pics,... as list view. It is time consuming to check through these to find what you're looking for mentioned before on the chat. My team uses the chat option to collaborate instead of the teams part as we find it easier. It would be great if in all parts where you can share documents that th

[2020-11-11 17:30] #436 closed

[2020-11-12 06:37] Trinetra-MSFT commented on #450
@baelan , This is by Design as of now for group chat, You can raise a [Microsoft Teams UserVoice](https://microsoftteams.uservoice.com/forums/555103-public/filters/new) for the same.

[2020-11-12 06:37] #450 closed

[2020-11-12 09:36] DovOps commented on #300
Has this been fixed, or is there any other status update on this - @Subhasish-msft  = any updates here would be very much appreciated.  The only way I've found to trigger the correct behavior right now is to put links to teams inside Wikis. That app seems to trigger the correct behavior when the links are clicked, and might be a sufficient workround for some, but I really need executeDeepLink to,

[2020-11-12 12:18] Red0ck opened #451 "Usage of tags in channels"
It will be useful for all users, who are using tags in their teams.
Availability to just add tag as requirement to a channel to make everyone whos got this tag, access this channel.

[2020-11-12 12:25] #451 closed

[2020-11-12 17:54] quesurifn commented on #435
@Trinetra-MSFT I sent an email but haven't heard back

[2020-11-17 05:15] Trinetra-MSFT commented on #435
@quesurifn , Didn't saw any email yet in my inbox , `microsoftteamsdev@microsoft.com` did you sent here only?

[2020-11-17 07:29] real-liyongsheng opened #452 "If there is no message in the channel for a period of time, then notify. How to achieve it?"
If there is no message in the channel for a period of time, then notify. How to achieve it?
In addition, how to implement the archive team button in the notification message?

[2020-11-17 10:19] Nikitha-MSFT commented on #444
Object is a set of strings when you pass an object typescript will consider that as a string, hence the result is shown as string. This is by design.

[2020-11-17 10:55] Nikitha-MSFT commented on #446
When you add the authentication endpoint in the azure you will have an option to set the access token and id token as shown in the screen shot
![image](https://user-images.githubusercontent.com/61688740/99381711-7334c680-28f1-11eb-8444-fa71bd18940c.png)
Try if that helps.

[2020-11-17 11:06] ernie76 opened #453 "Url with portnumber in Content URL not working on ios"
I have a Manifest for a Personal tab with this example URL for the "Content URL"
https://example:8443/tab
This is not loading on the iphone teams app.
If I change the URL to
https://example/tab
its working.

Sven
 Scholz

[2020-11-17 11:20] Trinetra-MSFT commented on #453
@ernie76 , is this issue with the iPhone only or other platform? Did you tried to add your URL in app manifest validDomain[] array? Please share your manifest so we can check it at our end. you can share it directly to `microsoftteamsdev@microsoft.com `

[2020-11-17 11:40] ernie76 commented on #453
the issue is only on the iphone. i have test on android, there is it working

@Trinetra-MSFT i have send a mail with the test Manifest to you

[2020-11-17 11:49] ernie76 commented on #453
I think i found the error
Under validDomains there is missing the domain with the portnumber
With the App Studio in Teams, the port number is not accepting.
with a texteditor and uploading its working

[2020-11-17 12:33] Trinetra-MSFT commented on #453
@ernie76 , Yes, App Studio is not accepting the URL with Port Number, it can be a Bug need to confirm this with engineering team. but I believe by putting it manually in validDomain[] array it is working. Are you still seeing this issue over iPhone device?

[2020-11-17 12:45] ernie76 commented on #453
its working with the iphone, if I put it manually in validDomain[].

[2020-11-17 13:00] Trinetra-MSFT commented on #453
@ernie76 , Great! As of now I'm closing this thread. I will check about App Studio validDomain[] port number URL issue internally.

[2020-11-17 13:00] #453 closed

[2020-11-17 15:07] navzam commented on #444
This isn't the behavior I'm seeing. In `submitTask` I'm passing an object (as allowed by the SDK's typings and shown in the [task module docs](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/task-modules/task-modules-tabs#example-submitting-the-result-of-a-task-module)):

[code]

and in the `submitHandler`, if I try to use it as a string:

[code]

The console shows

[2020-11-18 11:09] Nikitha-MSFT commented on #444
Raised a bug- we don't have ETA to share when it will be fixed.

[2020-11-18 11:34] marwalsch commented on #446
Thanks. I actually have this configuration enabled, and I do receive an Access AND ID token respectively when using the regular `authenticate()` method, but not through the `getAuthToken()` method. It always returns a singular token, that appears to be an ID Token when comparing with other tokens or looking at the docs.

[2020-11-18 12:32] VaraPrasad-MSFT commented on #452
@real-liyongsheng : There is no direct way to implement this. Every interval you need to check channel messages using [API ](https://docs.microsoft.com/en-us/graph/api/channel-list-messages?view=graph-rest-1.0&tabs=http)and look for if any update is there. If there is no update, notify it.

[2020-11-20 17:53] DaleyKD opened #454 "authenticate: Cannot read property 'width' of null"
# Description
When attempting to use the `registerAuthenticationHandlers` function to "pre-set" the AuthenticateParameters for later use, it works great the first time.  However, if an error occurs, when you click the Login button again (which invokes `authenticate`), it fails, and you get the error `MicrosoftTeams.min.js:1 Uncaught TypeError: Cannot read property 'width' of null`.

# Reproduction

[2020-11-23 17:50] BrendanAndrade opened #455 "Cannot submitTask with a result parameter on Android or IOS"
This was working properly on October 26.

**Reproduction Steps:**
Open a html/css task module from a deeplink within a message in a Channel through the Teams IOS or Android app.

Using the teams-js library call:
`microsoftTeams.initialize();`
`microsoftTeams.tasks.submitTask( {foo: 'bar'} ); //or microsoftTeams.task.submitTask( {foo: 'bar'}, 'appId' );`

The task does not submit and the Teams disp

[2020-11-23 19:33] Trinetra-MSFT commented on #455
We are checking this issue, I will get back to you in sometime.

[2020-11-23 23:59] synth commented on #441
Hello. Do you kindly have an update for us on this? We have several customers who have brought this to our attention now.

[2020-11-24 04:55] Manish-MSFT commented on #454
We are investigating this issue internally.

[2020-11-24 06:09] Trinetra-MSFT commented on #435
@quesurifn , Hi Kyle, it will be good if you can respond to our mail and tell us your suitable time for the call.

[2020-11-24 07:43] skarahoda commented on #435
Hi @Trinetra-MSFT, can you reproduce the bug?

[2020-11-24 08:20] Trinetra-MSFT commented on #435
SDK needs to be initialized before registering the remove handler else it will throw error.

[2020-11-24 12:32] skarahoda commented on #435
Even when sdk is initialized, registiering remove handler produce `registerOnRemoveHandle is not allowed in the settings context` error. You can check the code below:

[code]

At first initialization function is called. When initialization is done, it calls remove handler which is in the callback.

[2020-11-24 21:14] DaleyKD commented on #454
Thanks, @Manish-MSFT . While minor, it'll be a bug our QA team will find.

[2020-11-26 07:36] Manish-MSFT commented on #454
@DaleyKD, We have raised a bug for this.

[2020-11-26 08:27] idevrnd opened #458 "microsoftTeams.authentication.authenticate() call on Teams desktop client open a browser window instead of desktop client popup and break the authentication flow"
SKD version: 1.8.0
Angular 8

microsoftTeams.authentication.authenticate()  authentication call on the Teams desktop client open an external browser window instead of a desktop client popup and break the authentication flow.  No way to notify  the desktop client from the browser tab using microsoftTeams.authentication.notifySuccess() since the auth flow is already broken

[2020-11-26 18:36] phpmaps commented on #455
@Trinetra-MSFT  My team has also encountering this issue with submitTask on Android and iOS.  With regards to our teams-js library, we are using v1.8.0 of @microsoft/teams-js.

The same repro steps apply :

[code]

Then after the cursor completes submitTask (and popup goes away) our Teams bot channel endpoint at ```/api/messages``` exposed via the latest botbuilder JS libs, 4.11.0,  never raises t

[2020-11-27 07:22] Nikitha-MSFT commented on #458
We are looking into the issue we will get back

[2020-11-27 12:40] Nikitha-MSFT commented on #458
we are not able to repro the issue at our end. Could you please check this [example](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/tree/master/src/views/tab/sso)?

[2020-11-27 12:45] Nikitha-MSFT commented on #446
When you receive the access token you can get he id token by using authentication on behalf user. Could you please check this [docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow)/ [sample](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/blob/master/src/apis/GetProfileFromGraph.ts#L64) for more info?

[2020-11-30 07:57] marwalsch commented on #446
It appears to me that this sample is specifically designed for the on-Behalf flow. But this is not want I want to achieve, as I have no second API to access, only my own. However, the `getAuthToken(`) method does not appear to enable this use case.

[2020-12-01 05:16] Nikitha-MSFT commented on #446
Currently getAuthToken() will provide the access token, by using access token you can get the id token on behalf of user. This is by design.

[2020-12-01 07:15] marwalsch commented on #446
So 'getAuthToken()' actually returns an access token? Then I was mistaken as in the [docs ](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso)it states that the method returns an authentication token which I thought to be an ID token (while the authorization token would be the access token). I also expected the returned token to contain a nonce to che

[2020-12-01 07:22] Nikitha-MSFT commented on #446
Yes, getAuthToken() returns  an authentication token.

[2020-12-02 02:39] baileyg2016 opened #461 "microsoftTeams.authentication.authenticate method open popup windows in random locations when in desktop app"
SDK version: 1.5.2
React version: 16.9.0

microsoftTeams.authentication.authenticate method open popup windows in random locations when in desktop app. This can make it hard for a user to find the popup and should be found in the center of the screen. In the teams web client, the popup opens in the center of the screen and would expect the same in the desktop client.

[2020-12-02 04:13] lokimeyburg commented on #461
Thanks for submitting this @baileyg2016. Yeah, I can see how that would be frustrating. This is probably something to do with our Electron client. Will get back to once we know more about what's going on and how we can address it.

[2020-12-02 11:29] Manish-MSFT commented on #454
@DaleyKD  I think you would be calling calling the authenticate API with no parameters.Also, there is no API call registerAuthenticationHandlers.

[2020-12-02 14:20] DaleyKD commented on #454
@Manish-MSFT : I'm not sure what you're trying to say.

There is absolutely a function called `registerAuthenticationHandlers`, and it's even documented in your code:
https://github.com/OfficeDev/microsoft-teams-library-js/blob/34c3e77d780a1fdbefb823830b1da4e9e97d5bd2/src/public/authentication.ts#L20-L26

Then when you call `authenticate`, line 31 shows that the `authenticateParameters` can be `un

[2020-12-02 21:38] ydogandjiev commented on #454
@DaleyKD, please do not use the `registerAuthenticationHandlers` API. This API was added by mistake and creates broken flows and incorrect expectations. The authParams passed to authenticate are used to return the status of the operation back to you, the caller. Once the authenticate call succeeds or fails the authParams are cleared and are no longer relevant. The `registerAuthenticationHandlers`

[2020-12-02 21:55] DaleyKD commented on #454
That really sucks. This is going to set us back a few days of development work because of how we designed our auth flow.

[2020-12-02 22:01] DaleyKD commented on #454
If you can find ANY way to keep it or something similar to let us "globally" register the success/fail callbacks, that'd be helpful.

I don't like the idea of having to do an `authenticate({})` call all the way down at my `<LoginButton onClick={} />` and find a way to bubble up the error message so that I can display it.

[2020-12-02 22:16] ydogandjiev commented on #454
@DaleyKD, have you take a look at my sample app here:
https://github.com/ydogandjiev/taskmeow

Specifically, the authentication service found here:
https://github.com/ydogandjiev/taskmeow/blob/ce434b102527a2ec7d26a08f42772426f882394f/src/services/teams.auth.service.js#L38

And the authentication UI logic here:
https://github.com/ydogandjiev/taskmeow/blob/ce434b102527a2ec7d26a08f42772426f882394f/sr

[2020-12-02 22:20] DaleyKD commented on #454
Welp, I was greatly mistaken on the amount of time it was going to take!!  I think I found my fix for at least now.  While the future may make it hard for me to bubble certain objects up from a lowly `<LoginButton />` control up to our main `<App />` for use in its state (mind you, this is my very first React/SPA app), for the time being, we should be good.  You can close this if you'd like.

[2020-12-04 15:48] phillyc opened #463 "Allow Paste and Match Style to be set to Ctrl-V / ⌘-V"
I'm opening this issue here, as it's the closest thing I could find to directly influence the Teams application as a whole. No offense intended, if this isn't he appropriate forum.

In the Teams app, you can Ctrl-V to paste from clipboard. This frequently carries formatting information like font style, size, and weight. There is also an option to Paste and Match Style, which just pastes plaintext

[2020-12-07 10:44] RamaMohanaChary commented on #463
Hi @phillyc,

Could you please reach out to [Product Support Channels](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback#product-support-channels) on this question.

[2020-12-08 12:22] marwalsch commented on #446
"getAuthToken() will provide the access token" = returns an access token;

"getAuthToken() returns an authentication token" = returns an ID token (?);

I'm sorry but from my understanding this is contradicting.

I take that ID tokens are authentication tokens, since the latter are used for authenticating the user.
Thus access tokens are authorization tokens which is quite intuitive.

Now the 'auth

[2020-12-08 12:35] wictorwilen commented on #446
Agreed, the documentation makes this confusing. It should clearly state that it is an *ID token* and no other token. And it would be great to use the naming conventions used by AAD: *ID token* and *Access token*, and avoid the confusing *authentication token* (remember that most folks don't know the difference between AuthN and AuthZ)

[2020-12-08 23:03] DaleyKD opened #465 "Request: Obtain version of app in context"
Is there any way for us to obtain the version of our app (the one that's in the app manifest .json) via JavaScript?  It would be extremely helpful for us to be able to get that via the context object (`getContext()`) so that we could ensure that our client is using the latest version of our app, since it'll be sideloaded into an organization.

[2020-12-08 23:08] ascott18 opened #466 "Field `TabInstance.lastViewUnixEpochTime` is never populated"
1. Call `getTabInstances(callback)`.
2. Examine the results passed to the callback.
3. Observe that documented field `lastViewUnixEpochTime` is always missing from every tab (even tabs that I visited moments ago and even tabs that I'm currently visiting), and is never `null` as it is documented to be when the value is unknown.

See incorrect documentation at https://github.com/OfficeDev/microsoft-

[2020-12-08 23:16] ascott18 opened #467 "`getTabInstances` always returns empty list when called from a static tab"
1. Open one of your app's static tabs
1. Call `getTabInstances(callback)` from code running within that static tab
1. Observe that the result set returned to the callback is always an empty array.
1. Do the same operation from a team tab - observe that the array is correctly populated.

[2020-12-09 03:51] ydogandjiev commented on #467
@ascott18, you're probably hitting this issue because of sideloading. Each time you upload a custom app in a team or personally you are creating a new app instance with a unique ID. Therefore, your personal app is actually different from your team app which is why the `getTabInstances` API returns no tabs in the personal scope.

To ensure that your personal and team app are one and the same you ca

[2020-12-09 03:58] ydogandjiev commented on #466
Hey @ascott18, the `lastViewUnixEpochTime` property is only set for tab instances retrieved via the [getMruTabInstances](https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams?view=msteams-client-js-latest#getMruTabInstances__tabInfo__TabInformation_____void__TabInstanceParameters_) API.

[2020-12-09 17:27] ascott18 commented on #467
You're absolutely right, my apologies. In this case it was not due to sideloading, but rather due to the fact that the app review team kept bricking our marketplace offering and they couldn't figure out how to un-break it, forcing us to just keep creating new ones until they could get it right. My static tab ended up with a different ID than all the actual teams tabs (there are 13 teams tabs sprea

[2020-12-09 17:27] #467 closed

[2020-12-09 17:30] ascott18 commented on #466
@ydogandjiev Is there a specific reason for this limitation? I don't want to fetch only what the Teams algorithm determines to be the MRU tabs. I want to have an API that is guaranteed to always fetch all the tabs and from there I will take care of sorting myself, but I can't do the sorting according to my application's needs if the non-MRU version of this function arbitrarily omits the timestamps

[2020-12-10 00:34] ydogandjiev commented on #466
The two APIs are fetching data from completely different sources:
- The `getTabInstances` API finds all instances of your tab that are pinned across all of the user's teams & channels (though it's limited by what the client has cached locally). The tab instances returned by this API are the same for every user who is also a member of those teams/channels. It's possible that the current user has ne

[2020-12-10 00:50] ascott18 commented on #466
Thank you, that makes sense. Calling both and merging will work.

It may be worth adding a note to the Typescript doc comment that the field is only populated with `getMruTabInstances`. Or to the doc for `getTabInstances` to note that it won't populate `lastViewUnixEpochTime`.

Thanks again for your help!

[2020-12-10 15:24] ddsmit opened #468 "Add ipynb rendering support to file preview tab."
If you click a HTML in the "Files" tab of a channel, it will show a preview of the HTML file in Teams. Adding the ability to preview a ipynb file (ie Jupyter notebook) would be very helpful for a lot of the work that I do.

Github has a nice implementation of a ipynb preview that could be used as a reference (although I cannot speak to whether plotly charts will render).

If this is not the correc

[2020-12-10 16:01] Venipa opened #469 "how to detect that your embedded tab is in teams"
is there any way to have a variable which declares that the app is in a teams environment?
Need such flag to enable additional UI changes for teams only.

[2020-12-11 08:20] Manish-MSFT commented on #468
Hi @ddsmit, This is an upcoming feature in MS Teams and I don't have ETA as of now, but this feature has already been noted down by Teams Engineering Team. I think in future releases will address this issue soon. Thanks.

[2020-12-11 10:36] VaraPrasad-MSFT commented on #469
Currently this is not possible.

[2020-12-12 06:18] ydogandjiev commented on #446
The `microsoftTeams.authentication.getAuthToken` API returns an **access token** with `"scp": "access_as_user"`. This is basically the same thing as an ID token + the additional scope that grants access to your app's Web API.

You can see documentation on what an ID token and Access token are here:
- ID token - https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens
- Access toke

[2020-12-13 10:40] wictorwilen commented on #446
Thanks @ydogandjiev - please update the article with that information.

[2020-12-14 08:56] marwalsch commented on #446
@ydogandjiev Thanks for making this clear eventually. I was confused since the access_token acquired through `getAuthToken` does not contain a nonce to check against, unlike the access_token acquired through regular authentication.
AFAIK missing a nonce is somewhat unusual for an access token though. Is there any particular reason why it does not contain one?

[2020-12-14 12:54] KEMiCZA commented on #418
@piekenpuil in your WebApp make sure that SSL is disabled. I had the same issue, and after debugging without SSL ngrok will take care of the SSL tunneling.

[2020-12-16 14:47] cas-- commented on #458
I have been facing seemingly the same issue with an AngularJS application. The issue arises when attempting to authenticate via a Tab in the MS Teams Desktop app and it opens in a browser tab instead of a popup as normally happens at teams.microsoft.com.

Our setup has a controller with an `authenticate` method that is called by a button `ng-click` directive.

[code]

I have seen this issue discus

[2020-12-16 20:43] BrendanAndrade commented on #455
Hi, any update on this issue? Thank you.

[2020-12-17 02:55] ydogandjiev commented on #458
There is a more full proof way to fix this. All you need to do is wait for the initialization to compete before calling the authenticate API:
[code]

[2020-12-17 09:03] cas-- commented on #458
@ydogandjiev Yes I am aware that was a possibility because `initialize` is an async function however this is a button click and so the indirect call to `authenticate` will cause the browser to block the popup and Microsoft Internal testing will fail the product validation over this!

[2020-12-17 16:19] guiconti opened #473 "Result parameter from successCallback is an object instead of a string on Android"
I have a Microsoft Teams app that requires the user to authenticate to access its features. As part of the authentication flow, I call the `authenticate` function from Microsoft Teams javascript SDK. The `successCallback` for the `authenticate` function is called with a `result` parameter that should be a `string`. That is the case for the web, desktop, and iOS versions. However, on Android I am g

[2020-12-18 03:03] ydogandjiev commented on #458
That's a good point; I guess in that case your only option is to make the `microsoftTeams.initialize()` call as soon as your page loads (which is generally the recommended option anyway) and show a spinner or some kind of progressive load UX until the initialization completes before showing the "Login" button. The SDK needs to know if your app is being hosted in our of our native clients vs the br

[2020-12-18 10:34] Trinetra-MSFT commented on #455
@BrendanAndrade , This is an Bug for iOS I tested, submit for task Module is not working. I will file a Bug for this now,

[2020-12-18 12:09] wictorwilen commented on #469
See https://github.com/wictorwilen/msteams-react-base-component/blob/3a4f3c076a8092864d050376edfb76d9a19ad1f2/src/useTeams.ts#L9 for a reference implementation

[2020-12-18 16:42] BrendanAndrade commented on #455
@Trinetra-MSFT it also seems to be a bug for Android

[2020-12-18 17:42] ydogandjiev commented on #469
Thanks for chiming in @wictorwilen. The code in your project will work today; however, it does make assumptions about the iframe name which are not officially documented and could change in the future. The only safe way to do this is to add an explicit QSP to the URLs your app loads in Teams that your code can then use as a signal. For example, when specifying the `contentUrl` in your app manifest

[2020-12-19 13:19] brunokunace opened #474 "How create tabs inside search based extension messages?"
Hi, idk if this is the most place to call it, but i dont see it on documentation

how i make this tabs (Recents, Reports) inside a search extension message?

like this:
![image](https://user-images.githubusercontent.com/16597320/102690353-8b934c00-41e3-11eb-9b87-a39a9057a83a.png)

sorry if i cant put this issue here, but i not see it in any other place.

thanks

[2020-12-20 14:53] wictorwilen commented on #469
@ydogandjiev - I know, but this as it is right now this is the best method (and also this same method is used throughout many of the Microsoft published code samples). Using the SDK is not a good approach as you have to try to get the context and have a timeout to see if it does not return (see this previous implementation I used: https://github.com/wictorwilen/msteams-react-base-component/blob/9c

[2020-12-21 07:53] vtalas opened #475 "Deep links to custom Tab is not working - sometimes"
I have problems with executing deep links created in a custom tab of my application.

I generate the link as described here:
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links
(the format of `https://teams.microsoft.com/l/entity/<appId>/<entityId>?webUrl=<entityWebUrl>&label=<entityLabel>&context=<context>`)

while it works fine in environment A:
e.g
https:

[2020-12-22 07:53] RamaMohanaChary commented on #473
Hi @guiconti, we have raised a bug for this.

[2020-12-22 10:07] vtalas commented on #475
it seems the upgrade manifest version fixed this issue (1.5 -> 1.7)
[code]
with 1.7 links are working as expected

[2020-12-22 10:07] #475 closed

[2020-12-23 18:37] Trinetra-MSFT commented on #468
Please feel free to reopen if you have further query on this

[2020-12-23 18:37] #468 closed

[2020-12-24 13:00] #458 closed

[2020-12-28 07:25] Manish-MSFT commented on #474
Hi @brunokunace , These are actually called messaging extension search commands. Please try providing multiple commands by providing id's, title and other fields to render them as tabs.[This](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/search-commands/define-search-command#manually-create-a-command) documentation serves as best reference guide.

[2020-12-29 20:04] LeonardoZivieri opened #478 "Background filters API"
Hi, I am creating an application that needs an API that changes camera filters in calls. I need to save an image in the filter list and select it, also list existing filters if possible.

[2020-12-30 01:00] #461 closed

[2020-12-30 06:00] Manish-MSFT commented on #478
Thanks for reaching out to us. We are the developer support team for Microsoft teams focused on helping developers resolve their code issues. For issues related to teams product, please reach out to the [Product support channels](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback#product-support-channels) for Microsoft Teams.

[2020-12-30 11:56] marwalsch opened #480 "Consuming results from `getContext()`"
This might be a noob question to some but I just cannot get my head around how the result `getContext()` is intended to be used properly, as it appears to be an asynchronous callback. I need the context's `loginHint` to fetch some data, which would look like:

[code]

This works but I obviously want to consume the retrieved user data in some way. Such as:

[code]
But the user is undefined. What wo

[2020-12-31 05:16] #454 closed

[2020-12-31 09:09] Jagadeesh-MSFT commented on #480
Hi @marwalsch,
Thank you for reaching out to us, we will investigate and if we require further information we will reach out.
Thanks,
Jagadeesh
Teams Dev Community Response

[2020-12-31 12:44] #474 closed

[2021-01-07 14:06] DaleyKD commented on #465
Bump.

[2021-01-07 15:58] Wajeed-msft commented on #465
@DaleyKD - Apologies for the delay in response. Currently Teams SDK doesn't allow you to get the app version information. However, you could pass query string parameter in your Tab URL set in your App Manifest:

You can read this parameter in your code and match it against server version.

Let me know if this works for you.

[2021-01-07 18:38] Jagadeesh-MSFT commented on #480
Hi @marwalsch,
yes, we can wrap the  microsoftTeams.getContext() in any method.
You will get the basic user details in getContext.
Could please let us know what more details you want to fetch about user ?

[2021-01-08 10:16] marwalsch commented on #480
@Jagadeesh-MSFT
Thanks for the response. The fetched Data comes from an API secured through Teams-SSO-Tokens and returns basic user information in exchange for the Email. I'D use the Office-Guid through the context, but the database isn't aware of it.
I am primarily looking for a tangible solution on how exactly I can wrap getContext(9 in a more readable manner. I really just want to move all call

[2021-01-08 14:09] loksayi commented on #382
Is there any update for it ?

[2021-01-08 18:36] DaleyKD commented on #465
Totally understand the workaround.  Is this something you can possibly put on a roadmap as an enhancement request to include in the context object? It seems like it might be helpful for some of the app manifest to be readable in the context object (or some other API call).

[2021-01-08 18:45] Wajeed-msft commented on #465
Graph APIs to get installed app details are already available. Could you please take a look at [Get Installed App Details](https://docs.microsoft.com/en-us/graph/api/team-get-installedapps?view=graph-rest-1.0&tabs=http#example-2-get-the-names-and-other-details-of-the-installed-app) documentation? Let me know if that works for you.

[2021-01-08 18:56] DaleyKD commented on #465
@Wajeed-msft : That's a GREAT Graph API endpoint. I didn't even realize that particular one existed. My only question on that is: is there any **easy** way for the current app to authenticate itself to use a bearer token?  Seems like a lot of work to setup a client ID/secret so that your Teams App can get a bearer token just to get info about itself.

[2021-01-08 19:23] Wajeed-msft commented on #465
For getting just the version number of app, query string is simplest option.

@ydogandjiev - Do we have any plans to include app information as part of tab context?

[2021-01-09 06:54] ydogandjiev commented on #480
Hey @marwalsch, you can implement your `getLoginHintAsync` API very easily as follows:
[code]

However, I would like to emphasize that any of the user information in the context should **not be used for making authentication or authorization decisions** for data access. This is noted here:
https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context#user-context
![imag

[2021-01-09 06:54] #480 closed

[2021-01-11 05:45] VaraPrasad-MSFT commented on #382
No, Currently we do not have any ETA to share.

[2021-01-12 07:03] abdulkareemnalband opened #484 "How to use ts-check with script tag in html file"
I'm using teams client sdk from cdn aka

[code]

I have also installed `@microsoft/teams` package via `yarn install`

trying to use sdk as
[code]

but it shows following error
![image](https://user-images.githubusercontent.com/3139353/104280651-460c2b00-54d2-11eb-85f4-54c2fcf9f569.png)

[2021-01-12 15:27] Manish-MSFT commented on #484
@abdulkareemnalband : We are looking into this issue, and will update you soon.

[2021-01-12 18:26] swsvindland commented on #412
I have run into this bug a lot.
The problem is your import statement, you cannot import it as a module. It must be
`import * as microsoftTeams from '@microsoft/teams-js';

const someFunction = () => {
    executeDeepLink('put link here')
}
`

[2021-01-15 11:26] piyumi25 commented on #435
Hi,

I am also having same issue and I generated the connector app using latest version of yeoman generator. Looking for a solution for the issue.

[2021-01-15 12:17] Trinetra-MSFT commented on #435
@piyumi25 : You can drop a email over `microsoftteamsdev@microsoft.com` so we can look into the issue

[2021-01-15 12:34] Manish-MSFT commented on #484
@abdulkareemnalband  : Can we get on call to discuss this issue. Please write to us at microsoftteamsdev@microsoft.com

[2021-01-18 05:40] jeryjpk commented on #241
Is it resolved , If yes can you walk me through the new way of implementing it ?
Thanks in advance

[2021-01-20 13:28] gerrosc commented on #435
Hi!

Any news on a fix for this issue?  I'm also getting the same problem.

Thanks!

By the way, I have a quick bit here that might help (or not) in finding what's causing this issue.  Some thing that i noticed;

When using version 1.5.0 of the script and do something like this pattern below, the error is not showing and everything seems fine;

[code]

However, when you introduce call in getting t

[2021-01-21 12:52] Nikitha-MSFT commented on #455
@BrendanAndrade - Bug is Resolved now, we have tested this at our end, could you please also check and confirm?
The issue is with the Teams client which is fixed now.

[2021-01-28 14:05] evgenyelyashevich opened #495 "authentication.authenticate ignored in "sidePanel""
Why is popup opening ignored for context.frameContext === "sidePanel"
This works if state.frameContext === "content"
I don't get failureCallback, or failureCallback. Just nothing
How do I do it then in sidePanel without other tabs (only on tab in meeting)?

At the moment I'm using a message on SidePanel ("Please log in on Tab of this meeting settings to enable the functionality.") After that, on s

[2021-01-28 16:53] ydogandjiev commented on #495
@evgenyelyashevich, please make sure that you are using the latest version of the Client SDK. Support for the sidePanel frame context was first added in v1.8.0:
https://www.npmjs.com/package/@microsoft/teams-js/v/1.8.0

[2021-01-28 16:53] #495 closed

[2021-01-29 00:43] evgenyelyashevich commented on #495
@ydogandjiev Thank you very much. That helped
![image](https://user-images.githubusercontent.com/54266063/106216405-16546700-61e4-11eb-9545-2d56309f44bf.png)

[2021-02-01 06:28] sr258 opened #498 "microsoftTeams.shareDeepLink does not work as expected"
I try to generate a deep link to a subEntityId in a Microsoft Teams group tab. When I call

[code]

I get this dialog (my tab is called 'Interactive'):
![image](https://user-images.githubusercontent.com/15268740/106422083-38f1b480-645e-11eb-9d76-5234ee6aec5b.png)

As you can see, there is no URL in the text field but the label, which was suffixed with the tab's name. If I press Ctrl + C I get this

[2021-02-01 12:37] dmcweeney opened #499 "Q - Teams Tab App SSO for existing AAD protected Web App+Api"
Hi,

Question on the Teams Tab SSO implementation.

We have an multi-tenant AAD web app+api implemented in Asp.Net Core and protected by AAD/OIDC.
A couple of the controller actions spool the client app (which is a SPA) which then calls the backend apis using the normal cookie auth. We use MSAL.Net on the backend for making calls to the graph api.

We want to surface this app as a Teams tab app th

[2021-02-02 03:24] ydogandjiev commented on #498
@sr258, this functionality is currently by design. The copied link is in rich text format and can only be pasted in an editor that supports rich text (e.g. Outlook, Word, Teams itself, etc.):
![image](https://user-images.githubusercontent.com/3357245/106547885-e4cceb80-64c2-11eb-8fd0-db7c572f955d.png)

The URL is too long and ugly to copy as plain text and we expect that most users will send these

[2021-02-02 03:24] #498 closed

[2021-02-02 03:48] piyumi25 commented on #435
Hi,

Any update on this issue? I am getting stuck with the connector app because of the issue and waiting for a fix ASP.

[2021-02-02 03:55] ydogandjiev commented on #435
I recently check in a fix for this issue and it was just released in the newly minted v1.9.0 version of the Client SDK:
https://www.npmjs.com/package/@microsoft/teams-js/v/1.9.0

Give it a shot!

[2021-02-02 03:55] #435 closed

[2021-02-02 07:18] piyumi25 commented on #435
Thanks the fix is working as expected.

[2021-02-08 13:12] cas-- opened #502 "Missing successCallback from Teams auth popup in Desktop app"
I having an issue with the auth popup in the Teams desktop app not calling successCallback when it is complete but it works fine in browser and mobile apps. From searching I can see this is a common issue (e.g.  #356 and #330 ) but I unable to resolve it with the suggestions provided in those issues. Anything else that can be suggested to fix the issue?

For the record the auth redirects are on th

[2021-02-10 22:42] andylwelch commented on #412
Thank you for the reply @swsvindland. Sorry for the delay, I will try that out when I get the chance!

[2021-02-15 01:00] #484 closed

[2021-02-15 17:08] cas-- commented on #502
Thanks for setting up a chat but I spent time today investigating this further and seems I have resolved it by replacing $rootScope.apply() for $scope.apply() in the component onAuthSuccess method:
[code]
This makes sense since it was that component's scope that needed the digest update after the external javascript notifySuccess call. That it only occurred in the Desktop app is odd and the lack o

[2021-02-15 18:40] drub0y opened #508 "Improve ability for developers to utilize SDK when writing unit tests"
Currently it requires a lot of mocking of complicated, internal magic for an application that utilizes the SDK to actually be able to unit test it. I spent easily over 8hrs diving into the code and reverse engineering it just to get the `microsoftTeams.initialize(...)` call to even actually pass so that our application could even load.

It looks like the SDK itself has a `Utils` class and some "pr

[2021-02-16 09:20] RamaMohanaChary commented on #502
Hi Calum,

Glad to hear from you that issue got resolved.

Regarding your issue for the Linux, could you please reach out to [Product Support Channel](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback#product-support-channels).

[2021-02-16 12:41] Trinetra-MSFT commented on #499
@dmcweeney , While implementing the [SSO for teams tab](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso) you need to set up oAuth connection for your Azure app. You can look at following sample code which have [SSO for teams tab](https://github.com/Trinetra-MSFT/teams-tab-SSO-CSharp) implementation

[2021-02-16 16:02] dmcweeney commented on #499
@Trinetra-MSFT thanks for the update and sample.
I've been through all of the SSO tab samples but have yet to find one with backend api configured as follows:

[code]

I'm guessing only **bearer** token support is supported as that is what all the samples show.

Thanks, Donal

[2021-02-16 21:14] synth commented on #441
Hello. Is there any update on this? @Nikitha-MSFT  We have many customers now experiencing this.

[2021-02-17 07:19] Trinetra-MSFT commented on #499
@dmcweeney , Yes it uses jwt bearer token as of now, it request a Bot token using [TokenExchangehelper](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/auth-aad-sso-bots#add-the-code-to-request-and-receive-a-bot-token)

[code]

We don't have any sample yet using open id connect or other `AUTH `mechanism, but in future we will work on that part

[2021-02-17 10:32] dmcweeney commented on #499
@Trinetra-MSFT thanks for the confirmation - I was worried that I had missed something obvious.

[2021-02-17 10:32] #499 closed

[2021-02-18 05:24] Nikitha-MSFT commented on #441
Did you drop mail to microsoftteamsdev@microsoft.com? Could you please send a mail again?

[2021-02-18 05:54] synth commented on #441
@Nikitha-MSFT We had a call on December 22nd with Trinetra and we were able to reproduce the issue on your end. We left the call with an action for Microsoft to resolve the issue.

[2021-02-18 17:50] Saonti-MSFT commented on #508
Hi @drub0y, You can raise an [User Voice](https://microsoftteams.uservoice.com/) for this.
Microsoft will always focus on customer’s feedback and experience, some new features would be added to the services based on customers' feedback in the future.

[2021-02-22 07:38] marwalsch opened #511 "Theme change-handler doesn't work when inside pop-out-app window"
I am having the following implementation for using the them change handler inside teams, using React Northstar for styling.

On app startup:
[code]

Change-handler:

[code]

It works as expected inside desktop and web client as well as the mobile client. However, when opening the app with the desktop-client's pop-out-app window, the dark theme won't be applied. It always switching to the light the

[2021-02-24 11:23] kasturi15 opened #512 "Unable to open task module from chat panel in new meeting experience"
We are posting a link to task module in meeting chat in form specified in https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/what-are-task-modules#task-module-deep-link-syntax
<details>
<summary>
The task module link is in this format
</summary>
https://teams.microsoft.com/l/task/2a05d07c-d194-400e-8122-cad64cfe1cef?url=https%3A%2F%2Flocalhost%3A44349%2Fteams%2F%23%2Fd

[2021-02-25 09:34] lazycipher opened #515 "Detection of whether react app is running in Teams or Web browser?"
Currently, I'm trying to get context using getContext() and trying to decide whether it's running in Teams or Browser.
Is there any other better way to move ahead with this?

Also, is there any forum dedicated to this MSTeams Development?

[2021-02-25 10:09] dani-cl-madrid opened #516 "Enable deep-linking to private channels"
This is a feature request. It would be great if the private chats could also have links to them accessible by right clicking on the chat in the left panel. Having that feature, the link can be shared, or stored as a bookmark. If a user that don't have access to the chat and clicks the link, he should get an error. Or a dialog to request access, in the same way it appears when accessing a private c

[2021-02-25 19:23] petecuttriss commented on #300
Hi everyone, I've checked in a couple of tenancies and this functionality now appears to be fixed.  I can click on a link that calls executeDeepLink and if I don't have access to the Team I now get the Join prompt.  Can anyone else confirm that this is now working for them?

[2021-02-27 11:53] Mamatha-MSFT commented on #512
Hi @kasturi15, Could you please send the code snippets so that I can repro at my end.

[2021-02-28 06:36] Mamatha-MSFT commented on #515
Hi @lazycipher, microsoftTeams.getContext() works only inside teams and returns null on a browser.
`microsoftTeams.initialize()
  microsoftTeams.getContext((context) => {
          if (context === null || context === undefined) {.......}}`
Could you please try this?

[2021-02-28 06:46] lazycipher commented on #515
Hi @Mamatha-MSFT,
I've tried this thing already.
Actually, what happens is, the callback doesn't get executed on browser.
It only executes when trying to access from any teams client.

[2021-02-28 19:20] lazycipher commented on #515
@Mamatha-MSFT, Please refer to this code once -> https://stackblitz.com/edit/react-cuadoi?file=src%2FApp.js

[2021-03-01 07:01] abdulkareemnalband commented on #512
Hi @Mamatha-MSFT
colleague of @kasturi15 here

1. Schedule a meeting
2. Install a teams APP
3. Join a meeting
4. Open chat panel
5. post a link with deeplink to a (STEP 2 APP's) task module
6. click on link

sometime (not always) Task module fails load properly
And we see follwing error in teams developer console when that happens
[code]

[2021-03-01 07:03] abdulkareemnalband commented on #512
Both logs and link are hidden behind detials summary tag in original post

[2021-03-01 09:34] sudoaccessdenied opened #519 "List Card Showing Error On Clicking On list Item During in-meeting and opening two tabs on single click."
## Version
Bot SDK version  4.10.3

## Describe the bug
I am getting error "Something went wrong. Please try again."  when I click on "List card" items during in-meeting Meeting Chat.
Also it is opening two tabs on  single click.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'Microsoft Teams'
2. Create and event from Calender and install ```SpeakNow``` Bot to it.
3. Join the meeting .

[2021-03-01 12:04] Mamatha-MSFT commented on #515
@lazycipher Could you please try this and let me know if the issue still persists.
`var teamsInitialized = false;
microsoftTeams.initialize(() => {
  teamsInitialized = true;
});

setTimeout(() => {
   if(teamsInitialized) {
    // teams running
   } else {
    // otherwise
   }
}, 1000);'

[2021-03-01 15:55] DovOps commented on #300
Yes this works for me now! Thank you very much @petecuttriss

[2021-03-02 06:04] Mallipriya-MSFT commented on #511
Hi @marwalsch,
Could you please debug and check the console logs for errors in desktop app by following the document - [DevTools for Microsoft Teams tabs - Teams | Microsoft Docs](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/developer-tools).

[2021-03-02 06:43] marwalsch commented on #511
@Mallipriya-MSFT  Hello,

no errors, but logging the theme returned by teams actually revealed that it behaves as it should. So for some reason
[code]
returns 'teamsDarkTheme' but doesn't apply it in the Provider. Thus I assume the issue is actually on Northstar's side. Can you(should i re-open there?

[2021-03-02 08:43] Mallipriya-MSFT commented on #516
Hi @dani-cl-madrid, Yes, you can raise the user voice for the scenario [here](https://microsoftteams.uservoice.com/).

[2021-03-02 10:23] Mamatha-MSFT commented on #512
@kasturi15, @abdulkareemnalband  I am able to reproduce the issue, Task module deep link will not work in Teams meeting window chat. You can use [Content Bubble](https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/create-apps-for-teams-meetings?tabs=dotnet#notificationsignal-api) in meeting.

[2021-03-02 13:51] abdulkareemnalband commented on #512
@Mamatha-MSFT  hi thanks for reply
We will defiantly try to implement content bubble

Is there a time like when this will be supported in meeting window caht

[2021-03-03 04:50] Mamatha-MSFT commented on #515
@lazycipher please let us know if your issue has been resolved.

[2021-03-03 05:17] ydogandjiev commented on #515
@lazycipher, your best option is to add an explicit QSP to the URLs that you load within Teams (e.g. `&inTeams=true`).

If that doesn't work for your scenario then your best bet is to use the `checkInTeams` helper that Wictor Wilén implemented in his super awesome helper library:
https://github.com/wictorwilen/msteams-react-base-component#additional-helper-methods

Do note that this helper depends

[2021-03-03 07:38] Mamatha-MSFT commented on #519
Hi @sudoaccessdenied, I am unable to repro the issue. It's working fine for me. Could you please try again and let me know if the issue still persists.

[2021-03-03 08:32] lazycipher commented on #515
Got it! I'll implement and test this in the next big release of the app.
Currently used something else as a workaround.
Thank you @Mamatha-MSFT, @ydogandjiev.

[2021-03-03 08:34] lazycipher commented on #515
Though, Won't it be better to have the callback executed irrespective of it being in Teams or not?
It can handle many scenarios quite easily. @ydogandjiev

[2021-03-03 09:12] Mamatha-MSFT commented on #512
@abdulkareemnalband You can use it any time when you are in meeting.

[2021-03-03 12:34] sudoaccessdenied commented on #519
@Mamatha-MSFT  it is working fine Now After the yesterday New teams Update .Thank you.

[2021-03-03 12:34] #519 closed

[2021-03-04 08:57] enumm opened #521 "Teams authenticate doesn't work with CBA on iOS."
When using  `microsoftTeams.authentication.authenticate` to authenticate to AAD with
[certificate-based authentication](https://docs.microsoft.com/en-us/azure/active-directory/authentication/active-directory-certificate-based-authentication-get-started) enabled it opens popup that does not have access to saved certificates.

![image](https://user-images.githubusercontent.com/7242996/109937811-f844

[2021-03-08 09:11] tecton opened #522 "Runtime error when bundled with Rollup"
Hi,

I'm using a new package that depends on teams-js SDK and I use Rollup to bundle it.
I got the error that shows `Unhandled Rejection (TypeError): Cannot set property '_uninitialize' of undefined` in local debug.
The error message indicates that error happens in this [line](https://github.com/OfficeDev/microsoft-teams-library-js/blob/967ea096c6762086c0e1f1ebd3ae965e2850aa3b/src/public/publicAPI

[2021-03-09 07:17] kafka-yu opened #524 "`mediaDevices.getUserMedia` returns "DOMException: Permission denied" when it is called in the pop-out-app window"
Hi there,

Not sure if this is the correct repo to ask. But I still want to have a try.

Does anyone know why the below code won't return the MediaSteam in an MS Teams pop-out-app window in desktop client of the MS Teams app?
[code]
It returns "DOMException: Permission denied".

It works in the default app window.

[code]

Is it caused by the "audio" permission is not granted to the pop-out window

[2021-03-09 09:25] Mamatha-MSFT commented on #522
Hi @tecton, Can you please provide the code snippet and repro steps. It will help to repro at my end.

[2021-03-10 00:51] FormMachines opened #525 "Context object different in a pop-out window"
Version: desktop version of Teams.

In a custom tab, the "getContext" method returns a full object (correct) when not popped out. Once popped out, the same call returns an object with some properties missing (not correct), for example, the user's team role property is missing.

Using SDK version 1.9

[2021-03-10 02:46] tecton commented on #522
Hi @Mamatha-MSFT, thanks for the quick reply! I created a [project](https://github.com/tecton/teams-js-wrapper) that wraps teams-js library.

I also tried to upgrade Rollup to latest version and it's not an issue any more. So I think the named export in Rollup 1.x make `this` undefined.

Repro steps:
1. Clone the wrapper project and build it using `npm run build`.
2. Create a new project for Teams

[2021-03-10 06:35] Jagadeesh-MSFT commented on #524
@kafka-yu, just to confirm , could you please check all the permissions are enabled in the settings tab as shown below image
![image](https://user-images.githubusercontent.com/73812940/110586938-f0ce5c00-8198-11eb-9ffa-1b2d7754aee2.png)

[2021-03-10 07:25] Mallipriya-MSFT commented on #511
@marwalsch, Taking this for internal discussion with team, I will update you with resolution

[2021-03-11 12:07] Mamatha-MSFT commented on #525
Hi @FormMachines, Thanks for bringing up this issue, I will repro at my end and will let you know.

[2021-03-11 16:42] ydogandjiev commented on #515
@lazycipher, how would the callback execute when not in Teams? All SDK APIs are simply a translation layer that serializes the calls your app makes and sends them to Teams for handling. If Teams isn't there then the APIs do not work.

[2021-03-12 03:06] enak commented on #515
`microsoftTeams.getContext` will never call the callback in the example that you provide because the Teams parent window (or Teams App) does not exist and therefore never calls the callback. It also errors out since initialize was not called: `Error: The library has not yet been initialized.`.

Following is from https://github.com/OfficeDev/microsoft-teams-library-js/blob/master/src/public/publicA

[2021-03-12 09:05] mmzeeman opened #527 "authentication.getUser response different in popout window."
When I call `microsoftTeams.authentication.getUser` in a popout window I get a response object with oid, tid and a upn, but when I call it inside a personal tab running in teams I get an error response `App does not have the required permissions for this operation`. The same personal tab on iOS also returns an object with oid, tid and upn.

What is the correct behaviour?

[2021-03-12 14:11] Mamatha-MSFT commented on #525
@FormMachines, I am able to repro the issue from my end. Seems like it's a bug, yet need to get confirmation from the internal team. Will be raising the same as bug.

[2021-03-13 21:44] enak commented on #515
This issue is a duplicate of #469.

[2021-03-15 15:42] Jagadeesh-MSFT commented on #524
@kafka-yu, are you still facing the issue.

[2021-03-16 11:12] Mamatha-MSFT commented on #522
Hi @tecton, I have reproduced the same code that you have provided. It is working completely fine at out end and so, I suggest you to retry once again at your end.

[2021-03-16 12:26] marwalsch commented on #511
It appears this issue is patched as of Version 1.4.00.6073 (32-Bit).
@Mallipriya-MSFT Could you confirm to close?

[2021-03-16 13:08] Nikitha-MSFT commented on #511
@marwalsch Is your issue resolved?

[2021-03-16 14:28] nisitk opened #528 "microsoftTeams.authentication.notifySuccess() sending string instead of JSON on ios devices"
original value
'{\n accessToken = "<token>";\n expiresIn = 3599;\n tokenType = Bearer;\n}'

expected value
{
accessToken: 'token',
expiresIn: 3599,
}

SDK version 1.7.0

[2021-03-16 19:11] enak commented on #527
[microsoftTeams.authentication.getUser](https://github.com/OfficeDev/microsoft-teams-library-js/blob/master/src/public/authentication.ts#L95) is marked as `@private`, so you probably shouldn't rely on that method to get user information. You can call microsoftTeams.getContext() for the [Context](https://github.com/OfficeDev/microsoft-teams-library-js/blob/967ea096c6762086c0e1f1ebd3ae965e2850aa3b/s

[2021-03-17 07:48] marwalsch commented on #511
@Nikitha-MSFT
I just re-checked
- my own app,
- App Studio,
- Polly
and it appears to be working properly now.

[2021-03-17 07:48] #511 closed

[2021-03-17 12:30] #502 closed

[2021-03-17 14:23] charliedavison commented on #528
@nisitk

I think I'm having a similar issue, but I expected notify success to be a string.

notifySuccess expects a string passed in for the result -

`(result?: string | undefined, callbackUrl?: string | undefined): void`

and looking at the SDK code it eventually calls the `successCallback` provided to `authenticate`.

The function signature of `successCallback` is:

`((result?: string | undefin

[2021-03-17 18:46] chrisatkin opened #529 "When implementing a custom connector, microsoftTeams.settings.getSettings returns deprecated webhook URL format"
I'm implementing a custom connector for my company. We have an iframe which loads our configuration URL as defined at both aka.ms/connectorsdashboard and in our app manifest. The frame in turn calls `microsoftTeams.settings.getSettings()` to determine the webhook URL for us to post messages to.

However, as described both [here](https://answers.microsoft.com/en-us/msteams/forum/all/microsoft-teams

[2021-03-18 07:33] Sridevi-MSFT commented on #521
Hi @enumm, Are you facing same issue in android as well and also can you confirm which teams version are you using.

[2021-03-18 09:24] enumm commented on #521
Hello @Sridevi-MSFT , Unfortunately we cannot set this up and test on android,  Teams app version : 2.4.2 build 1.077.2021030207
Teams SDK 1.9.0.
The issue is that on iOS

only `Mozilla/5.0 (iPhone; CPU iPhone OS 14_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 **Safari**/604.1` view controller has access to certificates stored on phone.

and `microsoftTeam

[2021-03-18 15:49] chrisatkin commented on #529
@RamaMohanaChary we're seeing this issue on a custom app, not the Incoming Webhook app. Accordingly, we are unable to use an "Update URL" button as we cannot implement it on our app.

When I set up the webhook, I specified a page to load as the configuration page. When the Teams client loads our configuration page, we use the [Teams JS](https://www.npmjs.com/package/@microsoft/teams-js) library to

[2021-03-18 21:09] mmzeeman commented on #527
Thanks for clarifying. I totally missed the `@private` marker in the comment section.

[2021-03-18 21:09] #527 closed

[2021-03-22 07:27] Sridevi-MSFT commented on #521
Hi @enumm, Device-base CA policies only work in the Safari browser. They don't work in other browsers like Chrome or WebView's created by apps like Teams.

[2021-03-22 15:03] dmcweeney opened #532 "renewalTimeout from getAuthToken"
Hi,

Playing with SSO and custom tab app I notice that getAuthToken sometimes fails with renewalTimeout.
When it does the only solution is to restart the whole Teams app.

I presume this is a known problem?

Using Teams Version 1.4.00.7174 (64-bit).
Using Teams SDK - statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js

Thanks, Donal

[2021-03-23 07:11] Wajeed-msft commented on #529
@Nikitha-MSFT - Could you please check this?

[2021-03-23 08:55] tecton commented on #522
Hi @Mamatha-MSFT, I tried again and saw the same error. I removed the "module" field in [package.json](https://github.com/tecton/teams-js-wrapper/blob/master/package.json) of test lib to make sure it uses the Rollup bundled version. Here's the detailed steps that I used to reproduce the bug:
1. Clone the wrapper project and build it. It should have `dist\index.js` file that will be used by Tab app

[2021-03-23 11:22] Nikitha-MSFT commented on #529
When you are getting the web-hook URL from the get settings, it will return the URL which is configured for the channel. To get the Updated URL in get settings you need to update the web-hook URL in the UI as Rama mentioned and then get the web-hook URL using Get settings. Try if that helps.

[2021-03-23 13:40] chrisatkin commented on #529
@Nikitha-MSFT I guess I’m just not understanding this. We have a _custom_ app; we aren’t using the incoming web hook app. I can’t see how to implement the “update URL” button in a custom app?

[2021-03-24 08:56] Nikitha-MSFT commented on #532
We are not able to repro the issue at our end could you please Check this [sample](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/tree/master/src/views/tab/sso)?

[2021-03-24 10:30] dmcweeney commented on #532
Hi @Nikitha-MSFT ,

I updated the SDK to V1.9 and still same problem.
The following is written to the log
[code]

I dont think it is related to the code because it works sometimes, stops working with renewalTimeout and then at some stage will start working again,.

The code is really simple:
When the confio page doc is loaded call `microsoftTeams.initialize();`

Then click a button on the config p

[2021-03-24 11:43] dmcweeney commented on #532
After 2 hours trying to figure this out this morning getAuthToken started working again!

[2021-03-24 16:16] dmcweeney commented on #532
A few hours later I was still getting renewalTimeout so I removed the 2 tabs completly, restarted Teams and readded the tabs and the 2 tabs apps are back getting auth tokens again...!!!

[2021-03-25 09:11] sudoaccessdenied opened #535 "Not sending Accept Response from team calender."
### I have create a meeting for channel in which User is  the member of the teams channel.But when the  Channel member accept the meeting invitation from the teams calender  it is not showing Accepted.
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/30634773/112447312-31240180-8d77-11eb-9b57-86a6f89b609d.png)

### The user accepted from teams calender as show in figure. Howev

[2021-03-26 04:46] Wajeed-msft commented on #529
Hi @chrisatkin - I checked this internally with engineering team. Only option for 3P connectors is to remove and add new configuration. Old webhook URLs will stop working in future, however I don't have an ETA to share.

[2021-03-26 05:27] chrisatkin commented on #529
@Wajeed-msft thanks for checking, I appreciate it. Just to be clear then, the official solution to this is to keep reinstalling our app when the URL expires? Because we never seem to be given the new format through `getSettings`,  only the old one. And at some point in the future they’ll just stop working?

[2021-03-26 06:00] Wajeed-msft commented on #529
@chrisatkin - For already configured Connectors you will still get existing configured webhook URL when you call `getSettings`. But when you configure a new Connector to a channel, you should receive new webhook format. Are you getting new format for new configurations?

[2021-03-26 06:28] chrisatkin commented on #529
@Wajeed-msft as far as I can tell, we are always getting the old format. Our app is fairly new, and we caught this in testing starting around two weeks ago.

[2021-03-26 08:08] #521 closed

[2021-03-26 10:40] Mamatha-MSFT commented on #535
Thanks for reaching out us. We are the developer support team for Microsoft teams focused on helping developers resolve their issues. For issues related to teams product, please reach out to the [product support channels](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback#product-support-channels) for Microsoft Teams.

[2021-04-01 14:13] MonalisaBaltatescu opened #538 "Context is different on private channel"
![teams context private channel](https://user-images.githubusercontent.com/32879490/113307562-f4737f80-930d-11eb-8194-35d5062c0e7c.png)
![teams context public](https://user-images.githubusercontent.com/32879490/113307601-fd645100-930d-11eb-86de-33a3f66001f2.png)

The Teams context has a different definition between a private channel and a standard channel. See the attached pictures.

       On a p

[2021-04-01 18:29] chrisatkin commented on #529
@Wajeed-msft @Nikitha-MSFT just wondering if there any updates on this?

[2021-04-02 08:44] RamaMohanaChary commented on #529
Hi @chrisatkin,

Checking internally with the team, will get back to you soon.

[2021-04-05 14:14] Wajeed-msft commented on #529
@chrisatkin - We tried on one of the demo tenant and we are getting new format. Checking with engineering team on what additional information is needed to debug this issue.

[2021-04-05 15:48] lemonpowah opened #539 "MeetingId is incorrect"
Hi everyone,

I've been playing around with the InMeetings apps and I was trying to get the online meeting object through graph API. The problem is, the context object returned in the teams app contains a corrupted or shall I say completely different meetingId.

Thus, when trying to query graph for the online meeting in question the response is:
[code]
You can check [this issue](https://github.com

[2021-04-06 05:05] Wajeed-msft commented on #529
@chrisatkin - could you please share the Connector Id so that we can check logs?

[2021-04-06 21:11] chrisatkin commented on #529
@Wajeed-msft our QA team has been testing whether "remove and add it again" is a suitable fix, but I can share that the connector with ID `e975b41c-ae96-41fc-9a0b-e17d03ada11f` displays the behaviour.

Some additional IDs that may help you pinpoint this specific connector instance, pulled from calling `microsoftTeams.getContext` within the frame associated with this connector:
- `channelId`: `19:d

[2021-04-07 08:28] marwalsch opened #540 "How is a failure on ' getAuthToken()' to handle and how can one reproduce the behaviour without another tenant."
Using the `getAuthToken()` API works for members within the own tenant as the required Graph scopes are permitted by default. However, before deploying the app to another tenant I obviously want to test the behaviour on initial failure which is expected to occur on the first time the app is used by another organisation's member. I am aware that in a production scenario an MPN registration is requi

[2021-04-07 08:49] kafka-yu commented on #524
Sorry for the delay in the reply. I'm still facing this issue. And I've also enabled all the permission as your screenshot.

I

Would you please help check again? Thanks!

@Jagadeesh-MSFT

[2021-04-07 12:42] Nikitha-MSFT commented on #538
we are looking into it get back to you soon

[2021-04-08 13:53] kafka-yu commented on #524
@Wajeed-msft @Jagadeesh-MSFT Would you pls help check again?

[2021-04-08 14:29] Sridevi-MSFT commented on #540
@marwalsch, Taking this for internal discussion with team and will update you.

[2021-04-08 17:16] Wajeed-msft commented on #529
Hi @chrisatkin - This looks like a bug, checking more details. I'll keep you posted.

[2021-04-09 18:34] chrisatkin commented on #529
@Wajeed-msft thanks, I appreciate it. FWIW, our release of Teams support is blocked until there's a resolution for this.

[2021-04-09 18:41] Wajeed-msft commented on #529
@chrisatkin - meanwhile could you please try these two options for testing?

1. Try registering a new Connector through Connector dashboard and see if you are getting same issue.
2. Try your existing Connector on some other [demo tenant](https://developer.microsoft.com/en-us/microsoft-365/dev-program)

[2021-04-12 07:29] abdulkareemnalband opened #542 "Feature Requests: Specify surrounding frame's background color in context"
Teams design team keeps on changing background color for frame surrounding task modules , tabs and such

Every time that is updated, we need to spend time to update our application style to match teams to make it look more integrated in teams,

It will help us if we can get color value directly in context, and we can use that color match our apps background color

[2021-04-12 08:17] Jagadeesh-MSFT commented on #524
@kafka-yu, Sorry for the delayed response. We are working on it, will update you soon.

[2021-04-12 12:53] marwalsch commented on #542
Starting June Teams will [remove the margin](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/removing-tab-margins) for tabs, which might be a solution since you can define the margin's colour by yourself. Obviously this doesn't work for task modules though.

[2021-04-13 03:06] BustosAndrew opened #543 "Request documentation: how to create a new pop up window for third party auth"
I need documentation, in JS, regarding how we can create a temporary window to authenticate a user with an integrated web app. For context, I'm integrating a file/folder viewer using Box's api. Box requires access tokens for users to have access to their files and folders. It would be easier if there were docs on how to make external auth easier without the need to change the content page of the t

[2021-04-13 22:33] ascott18 opened #544 "`getTabInstances` never resolves on mobile."
1. Call the following code in a tab app in the Android version of Teams:
[code]
2. Observe that `"Initialize"` is printed, but `"Tabs"` nor the expected array of tab info is never printed. This is causing our app to hang because basic Teams SDK functionality is not implemented as documented. If the SDK is for some reason unable to fetch info about installed tabs, it should immediately throw rather

[2021-04-14 17:54] chrisatkin commented on #529
@Wajeed-msft thanks for your suggestions - we'll look into it on our end too and get back to you

[2021-04-15 11:17] Nikitha-MSFT commented on #538
Need to add channel id and channel name will be undefined for private channels in [Retrieving context in private channels](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context#retrieving-context-in-private-channels).

[2021-04-15 12:10] MonalisaBaltatescu commented on #538
Thanks for answering! Although my problem is not fully soled because I am trying to retrieve the members of a private channel using graph api, but I don't have the channel id. What should I do next?

[2021-04-15 12:17] Sridevi-MSFT commented on #542
@abdulkareemnalband, Please raise a UserVoice [here](https://microsoftteams.uservoice.com/), if this needs to be considered as a future request.

[2021-04-15 12:54] abdulkareemnalband commented on #542
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/43172040-feature-request-specify-surrounding-frame-s-backg

[2021-04-15 14:43] Jagadeesh-MSFT commented on #524
@kafka-yu, Thanks for reaching out to us. We are the developer support team for Microsoft teams focused on helping developers resolve their code issues. For issues related to teams product, please reach out to the [Product support channels](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback#product-support-channels) for Microsoft Teams.

[2021-04-15 20:07] synth commented on #441
Hello. We are having more and more customers report this issue. @Nikitha-MSFT I see you are assigned recently. Will there be progress soon on this? I am happy to help work with you to resolve this any time. Really appreciate your help! Otherwise, can you recommend a workaround for personal tabs in iOS? Thank you!

[2021-04-16 01:14] kafka-yu commented on #524
Oh, I thought it was a technical issue related to the teams' framework.

Thanks for you help. @Jagadeesh-MSFT

[2021-04-16 04:15] joseph-passineau opened #547 "Missing image Exif/Metadata"
Hi,

I'm using microsoftTeams.media.selectMedia to retrieve images from the users phone. Then, for each attachments (microsoftTeams.media.Media), I call the media.getMedia method in order to retrieve the blob.

What I noticed is that pretty much all the Exif/Metadata of the images are gone.

Not sure if this is intended or not.

Thanks,
Joseph

[2021-04-16 07:21] Nikitha-MSFT commented on #441
Bug is Resolved now, we have tested this at our end, could you please also check and confirm?

[2021-04-16 12:26] Nikitha-MSFT commented on #538
You can get channel id using graph API. Please check [List Channels](https://docs.microsoft.com/en-us/graph/api/channel-list?view=graph-rest-1.0&tabs=http)

[2021-04-16 12:38] Nikitha-MSFT commented on #539
Currently the specific meeting metadata received from client sdk can not be used to interact with graph. This is by design.

[2021-04-16 13:35] Sridevi-MSFT commented on #540
@marwalsch- To get the correct token for Microsoft Teams Free and guest users, it is important that the apps use tenant specific endpoint https://login.microsoftonline.com/**{tenantId}**. You can get tenantId from the bot message or tab context. If the apps use https://login.microsoftonline.com/common, the users will get incorrect tokens and will log on to the "home" tenant instead of the tenant t

[2021-04-17 07:38] synth commented on #441
@Nikitha-MSFT thank you for following up. I have tested, but unfortunately the issue remains.

I got latest from the app and even fully uninstalled and reinstalled to be sure. But the same behavior shows the entity_id is passed back.

The MsTeams app shows:
Version 3.4.1
Build: 3.4.77.2021042303/48
Release branch: releasetrain-2021Mar15-T1

[2021-04-20 21:44] AJIXuMuK commented on #539
@Nikitha-MSFT if the provided metadata can't be used to interact with MS Graph then it's useless in many cases in scenarios.
What was the intention to block developers from accessing MS Graph based on provided metadata?

[2021-04-20 22:20] ascott18 opened #549 "`failureCallback` is defined as optional, yet the library throws errors if it is not provided."
This library throws errors due to its attempts to call `failureCallback` during authentication when no `failureCallback` has been provided. Per the declared types of this project, `failureCallback` is optional.

This is allowed to happen because this project uses weak Typescript configuration - namely, strict mode is not enabled and only a handful of individual strictness flags are enabled. `stric

[2021-04-21 07:57] Jagadeesh-MSFT commented on #544
Hi @ascott18 , we are working on it , will update you soon.

[2021-04-21 08:24] marwalsch commented on #540
@Sridevi-MSFT Isn't the `getAuthToken()`-API defaulting to the correct (current) tenant? It works as stated but I am still wondering how one can consistently reproduce the Pop-out appearing without having to wait hours each time after the rights have been revoked. Or even better, get the Pop-up to appear for registrations within the on tenant. Might the admin be abe to revoke default Graph permiss

[2021-04-21 08:32] marwalsch commented on #540
@Sridevi-MSFT Perosnal, free or guest user accounts are of no concern, as only native business accounts are among the users. The personal account was just used to have a 2nd tenant.

[2021-04-21 14:18] chrisatkin commented on #529
@Wajeed-msft just checking in with you to see if you have any updates. My team isn't seeing this occur anymore, but it wasn't happening every time so we can't categorically rule it out.

[2021-04-22 07:45] Wajeed-msft commented on #529
Are you getting new format webhook URL?

[2021-04-22 09:36] chrisatkin commented on #529
We are getting the new format. I would say though, we were sometimes getting the new format before too, so we can’t say definitively that the bug is fixed. It could just be coincidence that we haven’t seen it happen recently as it did seem to be quite rare - we’re looking for guidance from you in that regard.

[2021-04-25 19:03] martin1996-de opened #555 "microsoftTeams.media.scanBarCode crashes MS Teams on iOS when in dark theme"
Hi all,

I just figured out that using scanBarCode on an iOS device crashes the whole app when using the dark theme.

Can someone confirm?

Thanks
Dennis

[2021-04-25 19:07] Jagadeesh-MSFT commented on #544
Hi @ascott18, we are able to repro this issue from our end , we will raise a bug and will share with you.

[2021-04-26 02:50] kafka-yu commented on #524
hi @Nikitha-MSFT would you pls help check? Thanks!

[2021-04-26 05:16] Wajeed-msft commented on #524
@kafka-yu - this looks like a bug with pop-up window. @Trinetra-MSFT  - could you please repro and raise a bug for this?

[2021-04-27 07:06] nansou13 opened #559 "Force settings dialog to update my configurableTabs"
Hello,

First of all, thank you for this awesome librairy. I would like to share with you my problem on my configurableTabs. I modified the url of `contentUrl` in `microsoftTeams.settings.setSettings `but everyone who use my application before, use the old Url. Is it possible to force the opening of the settings dialog? Is there any other solution to modify without asking the customers to modify a

[2021-04-27 12:50] BerndGewehr commented on #429
Is this still open? We struggle with getContext in the current mobile app too with a missing entityId...

[2021-04-27 12:55] Wajeed-msft commented on #429
This issue is fixed and it's being rolled out. I'll check the current status and share updates.

[2021-04-27 19:45] ydogandjiev commented on #559
@nansou13, you can actually call the `microsoftTeams.settings.setSettings` API within your tab's content page as well so you can implement a just-in-time migration flow that allows you to update your `contentUrl` when users visit your tab. For example, you could try doing something like this:
[code]

Alternatively, if you want to do this migration without waiting for users to visit your tabs then

[2021-04-28 07:25] SLdragon opened #562 "Sometimes getAuthToken hang without trigger callback function"
Hi, team, I am using teams sdk to get SSO token, however, sometimes I wait about 5 second, the  ```getAuthToken``` callback function still not trigger.
I am wondering what's the best practice to handle this scenario, or are there some timeout inside the getAuthToken function so that I can reuse it？

[code]

[2021-04-28 23:13] nansou13 commented on #559
oh thank you @ydogandjiev !! it works well.

[2021-04-28 23:13] #559 closed

[2021-04-29 06:12] Nikitha-MSFT commented on #539
We are checking internally, get back to you soon.

[2021-04-29 08:47] kafka-yu commented on #524
Hi @Wajeed-msft  thanks.

Hello @Trinetra-MSFT would you pls help check? A large number of our customers are been blocked using our MS Teams app due to this problem. We want to push this to be resolved more eailer. Appreciated and Thank you!

[2021-04-29 10:27] BustosAndrew opened #564 "authentication.notifySuccess() not calling"
Locally and on deployment, I ensured that the start and end page have the same domain. Once the oauth flow redirects to the end page in the window pop up, a code is passed as a url parameter to the end page's url. However, after passing the code from the url as a string into notifySuccess(), it is not called and it doesn't close the pop up as a result. Am I missing something?

[2021-04-30 10:11] nbelyh commented on #429
@Wajeed-msft
Related question - not the entityId appears to be set, but it seems to be **different** (!!!) from the web browser?!
I.e. if I set entityId in web browser, then open the same tab in mobile app, the entityId is different!
Is it intentional behavior?

[2021-04-30 15:38] BustosAndrew commented on #564
I ensured that when I call authenticate, the url I passed in was on the same domain as the end page. I've been using local host as the domain. Is it because the notifySuccess function won't work on a separate page that didn't call authenticate at first?

[2021-05-03 08:54] dylanvdbrink opened #565 "Compose message/card from a configurable tab"
Hi,

I've also submitted [an issue on StackOverflow](https://stackoverflow.com/q/66602012/3021549) but someone with a MSFT suffixed username replied that my use case cannot be done with the latest version of the Teams library.

I've also explained it in the StackOverflow issue but what I am trying to do is the following:

I have created an Angular application which uses the Microsoft Teams Javascr

[2021-05-03 10:48] BustosAndrew commented on #564
So what had happened was that I forgot to initialize ms teams in the pop up page. The function now calls, but always triggers a failureCallback even after it closes the pop up. I made sure the end page is in the same domain as the first.

[2021-05-03 12:42] Mamatha-MSFT commented on #565
Hi @dylanvdbrink Taking this for internal discussion with team, I will update you with resolution.

[2021-05-04 10:19] Mamatha-MSFT commented on #565
Hi @dylanvdbrink You can "pre-compose" a message in the chat using [deeplinking to the chat](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links#deep-linking-to-a-chat) but it doesn't support card to send.
 we recommend you to raise a Teams UserVoice [here](https://microsoftteams.uservoice.com/) if this needs to be consider as a future request.

[2021-05-04 13:00] #508 closed

[2021-05-04 15:41] martin1996-de commented on #555
Hi @Wajeed-msft and @Nikitha-MSFT ,
with version 3.6.0 on iOS the issue has been fixed.
Can you confirm that the product team fixed this issue?

[2021-05-04 16:25] theogumilang opened #566 "MS Teams Authenticate doesn't work on Mobile inside Task Module"
I want to show Microsoft Stream on a Task Module, but Microsoft Stream need the user to sign in to be able see the video. So on my Iframe Page, I call ms teams Authenticate to make the page signed in. this is working fine in the desktop application the poup login shows up and after signed in we able to see the video. But the problem is it doesn't work on the Mobile Version the default behavior sho

[2021-05-04 16:33] kafka-yu commented on #524
Hi there, may I ask is there any update?

[2021-05-04 16:56] theogumilang commented on #566
Found the error, here is the error "The app is neither whitelisted nor resource matches the current domain", I wonder what am I missing it works on the Dekstop version but it doesn't work on the mobile version. I already add my page  to valid domains also

[2021-05-05 05:53] Jagadeesh-MSFT commented on #562
Hi @SLdragon, we are working on it, will update you soon.

[2021-05-05 11:52] Nikitha-MSFT commented on #566
When you add authentication to tab that does not work for the steam app. You cannot make SSO work for an app that you do not own. You need to login to steam as it is different Application. Please check this [sample](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/tree/master/src/views/tab/sso) for tab authentication.

[2021-05-06 02:37] BustosAndrew commented on #564
[code]
Is this too simple for me to be notifying success? This is in the end page by the way.

[2021-05-06 05:47] abdulkareemnalband commented on #512
@Mamatha-MSFT
We cannot use content bubble for all scenarios,
Is there a workaround for this other that content bubbles

[2021-05-06 07:35] theogumilang commented on #566
@Nikitha-MSFT  But I don't use SSO now It's okay for the user to login first and I tried to authenticate on the Bot side, not on the tab. I'm using authenticate and it works on the Dekstop Application Task Module, but on the Mobile Task Module, it doesn't work. Why it is different? Why on the desktop Task Module is not returning this error `Failed to get auth token The app is neither whitelisted n

[2021-05-06 16:22] Jagadeesh-MSFT commented on #524
Hi @kafka-yu, Apologies for the delayed response, we are working it practically , but we are unable to repro your issue from my end. we will taking this to our internal team and will post the timely updates.

[2021-05-07 07:53] kafka-yu commented on #524
@Jagadeesh-MSFT Thank you very much.

[2021-05-10 06:00] Mamatha-MSFT commented on #512
@abdulkareemnalband Currently there is no workaround other than content bubbles.

[2021-05-10 11:27] mmjosund commented on #512
@Mamatha-MSFT Will the content bubble implementation (In-meeting dialog box) work for Teams Web and Teams Mobile apps? Or is this only supported for the Native Teams app?

If not, what is the recommendation to serve actions for users on Web and Mobile?

[2021-05-10 11:28] figgsoftware commented on #512
@Mamatha-MSFT  We don't feel this is acceptable. Customers have been running key voting scenarioes with this functionality for a long time, and then suddenly it does not work for some users. It feels random. What are the criteria for when it works and when it does not work.

[2021-05-10 13:06] Jagadeesh-MSFT commented on #524
@kafka-yu , could you please share your availability and write it to microsoftteamsdev@microsoft.com.

[2021-05-11 06:52] kafka-yu commented on #524
@Jagadeesh-MSFT Sure, thanks. I've sent an email to microsoftteamsdev@microsoft.com.

[2021-05-11 13:23] Nikitha-MSFT commented on #566
[code]

Could you please check what version you are using?

[2021-05-11 19:06] ascott18 opened #575 "registerBeforeUnloadHandler still not implemented 2+ years later."
Title in reference to https://github.com/OfficeDev/microsoft-teams-library-js/issues/219 from June 2019. There's still no way to perform any actions when your app is about to be unloaded (manual reload, navigate away, etc).

What is the timeline for this feature? If there are no plans to implement it, why does it still exist in current versions of the SDK?

[2021-05-11 19:51] ascott18 opened #577 "Error: not_specified"
We're seeing the following error in our production logs. Please advise on how we're meant to deal with the "not_specified" error from Teams. Perhaps Teams should generate better error messages?

@microsoft/team-js version: 1.9.0

[code]

[2021-05-12 04:08] Jagadeesh-MSFT commented on #544
Hi @ascott18, Thanks for the insights, we will update the same in bug , our team is working on it. Currently we don't have any ETA to share with you.

[2021-05-12 04:18] Jagadeesh-MSFT commented on #577
Hi @ascott18, could you please share the repro steps o mitigate the issue.

[2021-05-12 09:49] abdulkareemnalband commented on #542
Background color for task module is updated again in dark theme

[2021-05-12 10:50] Sridevi-MSFT commented on #575
@ascott18 - Thanks for bringing up this issue, Let us investigate at our end.

[2021-05-12 13:17] Sridevi-MSFT commented on #540
@marwalsch - If an app has tenant admin consent then that needs to be revoked first in order for the prompt to show up. Otherwise, if the user has personally consented to an app they can revoke their own consent from https://myapplications.microsoft.com.

![SS002](https://user-images.githubusercontent.com/80752198/117981081-40c0cf00-b352-11eb-8d40-cfa91772cc0d.png)
![SS001](https://user-images.git

[2021-05-12 15:50] ascott18 commented on #577
I have no explanation for this - we're just seeing this error happening for some users in our production logs. This isn't something that our code is doing - as you can see, the stack trace is entirely within Teams code. Teams is throwing useless, nondescriptive errors. We'd like for this issue to be fixed by Microsoft in the event that it is a symptom of something causing an adverse user experienc

[2021-05-12 19:00] #565 closed

[2021-05-14 06:08] Nikitha-MSFT commented on #566
Could you please check is your APP is whitelisted? If not could you please whitelist the app? Please check In the Teams app permission policies, you can choose “Allow specific apps and block all others” in Third-party apps section. Then, you can add apps that you want to allow.
![image](https://user-images.githubusercontent.com/61688740/118229007-d8383600-b4a8-11eb-9616-74bc5a592e79.png)

[2021-05-17 05:55] theogumilang commented on #566
Hi, @Nikitha-MSFT  my permission policies already allow all app for third-part apps, custom apps and Microsoft apps

[2021-05-17 06:11] Wajeed-msft commented on #532
@Nikitha-MSFT - could you please check this?

[2021-05-17 06:32] Nikitha-MSFT commented on #577
In production logs means are you using developer tools to capture log? Could you please share how you are capturing the logs? Also please specify when you are getting the "not_specified" errors? Are you receiving this on action performed? Could you please explain your scenario in more detail?

[2021-05-17 12:46] Mamatha-MSFT commented on #522
@tecton - You need to add the required packages as mentioned in the [sample](https://github.com/OfficeDev/microsoft-teams-library-js/blob/967ea096c6762086c0e1f1ebd3ae965e2850aa3b/src/public/publicAPIs.ts#L2). and `this._uninitialize ` is an undocumented function used to clear state between unit tests

[2021-05-17 18:22] Mamatha-MSFT commented on #512
@figgsoftware @mmjosund - Could you please specify are you getting any error in while using content bubble. Please go through the [sample for content bubble](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/meetings-content-bubble).

[2021-05-17 20:00] Nikitha-MSFT commented on #566
Did you check the version of teams as i mentioned in previous comment? Is your app is whitelisted?
Could you please conform?

[2021-05-17 20:11] ascott18 commented on #577
- We're seeing this error in the Application Insights logging that we have running in our app.
- Our end users are encountering this error. We do not have any information about what the users were doing, or even who the users are.
- We're seeing this at all stages of page lifecycle (sometimes a second or two after page load, sometimes several minutes after page load).
- So far, all instances of th

[2021-05-18 02:02] SLdragon opened #580 "Break point inside getAuthToken would make microsoftTeams.getContext callback hang"
Hi, team,
I have a react Teams Tab project, the code is as below:
[code]

It will show SSO token and current locale as below:
![image](https://user-images.githubusercontent.com/5545529/118578705-358cf980-b7bf-11eb-9975-c7295f6c78da.png)

However, if I add a break point inside ```successCallback``` as below, then continue run the Tab App, then the getContext call back would never fired, it will han

[2021-05-18 03:03] Sridevi-MSFT commented on #575
@ascott18 - This API has already been implemented and developers should be able to use it in their tab content pages.

[2021-05-18 04:20] abdulkareemnalband commented on #512
@Mamatha-MSFT  content bubble does not suite for our workflow
Thing is same links work when opened from main teams window chat page
but fails open when tried from meeting window chat sidepanel

[2021-05-18 10:52] Jagadeesh-MSFT commented on #580
Hi @SLdragon, we are working on it, will update you soon.

[2021-05-18 12:18] Jagadeesh-MSFT commented on #524
@kafka-yu, we are able to repro your issue from our end , we will raise a bug and share the details with.
Thank you

[2021-05-18 13:23] theentropic commented on #532
I'm running into this error as well.  If I do a hard refresh on the teams page after that, it then throws resourceDisabled.  I've triple checked all the settings and they appear to be correct.    I've also opened an SO question here: https://stackoverflow.com/questions/67537440/microsoft-teams-tab-sso-getauthtoken-returning-resourcedisabled

This is a blocker for us, so any help would be appreciat

[2021-05-18 17:19] dimmon908 opened #581 "microsoftTeams.tasks.startTask doesn't work on mobile iOs/Android"
I try to call _tasks.startTask_ and it does nothing on mobile
Example:

[code]

It works on Web app and nothing happens when click on mobile apps

[2021-05-19 10:48] Mamatha-MSFT commented on #512
@abdulkareemnalband - See the highlighted text in below image that task module will not work in meeting. Please see the [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/create-apps-for-teams-meetings?tabs=dotnet#in-meeting-dialog).
![image](https://user-images.githubusercontent.com/78795357/118800286-5fc4e100-b8bd-11eb-9f79-d4fcf6bfc613.png)

[2021-05-19 13:39] abdulkareemnalband commented on #512
@Mamatha-MSFT  Yes i have read that
Issue here is we have a link posted in chat , built using by following this [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links#generate-a-deep-link-to-your-tab)

Same link works in main teams window chat
but fails in in meeting chat sidepanel

[2021-05-19 19:46] Nikitha-MSFT commented on #581
We are not able to repro the issue the issue at our end. Could you please check this [sample](https://github.com/OfficeDev/microsoft-teams-sample-task-module-csharp/blob/master/Microsoft.Teams.Samples.TaskModule.Web/Views/Home/Tasks.cshtml)?

[2021-05-19 21:18] dimmon908 commented on #581
I've tried different approaches to run on static/personal tabs like
[code]

It opens modal on the web/native apps and works fine but does nothing on mobile apps for me

[2021-05-20 05:54] Nikitha-MSFT commented on #581
Could you please share on the teams version for Android/IOS where you are facing issue? Also Could you please try the sample I have Provided?

[2021-05-20 06:39] dimmon908 commented on #581
IOS app - 3.7.0 (IOS 14.5.1).
Android version 6.0.1 - Teams version 1416/1.0.0.2021053801
I couldn't use sample directly because we use another technologies stack(don't use C# and .Net for server side).
nodejs [sample](https://github.com/OfficeDev/microsoft-teams-sample-task-module-nodejs/blob/master/src/TaskModuleTab.ts) and found that issue depends on card format
it works for mobile:
[code]
It d

[2021-05-20 11:37] Mamatha-MSFT commented on #512
We have raised a bug for this issue and concerned team is working on it.

[2021-05-20 12:19] creage opened #582 "microsoftTeams.generateGUID is not a function"
I'm running `@microsoft/teams-js` `1.10.0`, and according to [documentation](https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams?view=msteams-client-js-latest#generateGUID__) there should be a `generateGUID` function available as exported one.

Type definitions coming with package **have** this function defined, but it somehow fails to import it.

Trying to consume i

[2021-05-20 12:48] Jagadeesh-MSFT commented on #577
Hi @ascott18, we are taking this to our internal team, will update you soon.

[2021-05-21 03:57] Nikitha-MSFT commented on #581
Yes to use adaptive card in teams you need to mention the content type. You can use adaptive card Json in side a task module. please check the [Adaptive card](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#adaptive-card) docs. Also could you please check [Adaptive card (TaskInfo.card)](https://docs.microsoft.com/en-us/microsoftteams/platform/t

[2021-05-21 12:39] dimmon908 commented on #581
Thank you for help. I still have a few questions:
1) In this [example](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/what-are-task-modules#adaptive-card-or-adaptive-card-bot-card-attachment) for invoking  task modules from the tab used AdaptiveCard JSON without Attachment content/contentType wrapper. What is recommended to use to have a consistent web/mobile apps

[2021-05-21 14:04] Jagadeesh-MSFT commented on #582
Hi @creage , we are able to repro your issue from our end, we will take it to our internal team and will let you know.

[2021-05-21 15:45] kafka-yu commented on #524
Hi @Jagadeesh-MSFT @Trinetra-MSFT is there any update on the bug? May I ask any ETA of this issue when it is going to be fixed?

Appreciated.

[2021-05-21 17:17] ascott18 commented on #575
@Sridevi-MSFT this is not true. The callback we provide to the `registerBeforeUnloadHandler` function is never called for us. It is also still undocumented on https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams?view=msteams-client-js-latest.

[2021-05-24 03:10] Jagadeesh-MSFT commented on #524
@kafka-yu, our Engineering Team is working on it, currently we don't have any ETA to share with you.

[2021-05-24 03:25] SLdragon commented on #580
Any update?

[2021-05-24 05:13] Jagadeesh-MSFT commented on #580
Hi @SLdragon, Sorry for the delayed response. we will share the update by today EOD.

[2021-05-24 05:28] kafka-yu commented on #524
@Jagadeesh-MSFT Got it, thanks for your update.

[2021-05-24 10:29] Wajeed-msft commented on #529
All custom connectors using SDK should receive new webhook URL when newly created now. Could you please let me know if you face this issue anytime going forward? Please feel free to re-open if you face it again.

[2021-05-24 10:29] #529 closed

[2021-05-24 19:00] #540 closed

[2021-05-24 19:00] #522 closed

[2021-05-25 17:14] Nikitha-MSFT commented on #581
The value of taskInfo.card is the [JSON for an Adaptive card](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/what-are-task-modules#adaptive-card-or-adaptive-card-bot-card-attachment). In this case there's obviously not any JavaScript submitHandler function to call when the user closes or presses a button on the Adaptive card; the only way to receive what the user e

[2021-05-25 17:27] dimmon908 commented on #581
Thanks. Few more things:
1) According to this [docs for @microsoft/teams-js](https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams.taskinfo?view=msteams-client-js-latest#card) TaskInfo.card should be a JSON string.
2) According to your links [JSON for an Adaptive card](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/what-are-task-modules

[2021-05-26 10:35] Nikitha-MSFT commented on #532
We are checking internally, get back to you soon.

[2021-05-26 13:00] #566 closed

[2021-05-27 06:15] BustosAndrew opened #583 "local storage not setting in authentication success callback"
here is the js code inside a react component:
[code]
Failure callback always works, but upon successful login it never sets local storage. ls is some node module for handling local storage. To confirm, the start and end page of the auth flow are on the same domain.

Here is a vid describing the issue: https://youtu.be/qdyLejGBdE8

[2021-05-27 12:55] ffarguelles commented on #389
Mobile is now supported as I make it work. What about desktop? I'm getting error code 9000 (old platform) when trying to access the location or some media capabilities

[2021-05-27 12:56] Jagadeesh-MSFT commented on #580
Hi @SLdragon, we have tested this from our end, I am able to repro your scenario, we are taking this to internal discussion.

[2021-05-27 13:00] BustosAndrew commented on #583
Is some part of ms teams functionality down? The fluent ui elements aren't even rendering.

[2021-05-27 15:33] ffarguelles opened #584 "Geolocation not working on desktop app error code 9000. Is supported?"
When trying to access the geolocation data using `microsoftTeams.location.getLocation()` on desktop, I receive and error with code `9000`. The docs states that this error means the following:

I'm using Microsoft Teams Version 11.4.00.11161

In this [document](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/device-capabilities/native-device-permissions?tabs=mobile#use-teams-apis-

[2021-05-28 06:39] Mamatha-MSFT commented on #583
Hi @BustosAndrew - I will repro at my end and will get back to you.

[2021-05-28 12:55] Sridevi-MSFT commented on #584
@ffarguelles - Thanks for bringing up this issue, I will repro at my end and will let you know.

[2021-05-28 13:04] Sridevi-MSFT commented on #584
@ffarguelles - Thanks for bringing up this issue, I will repro at my end and will let you know.

[2021-05-31 05:33] SLdragon commented on #580
Thanks, if your team need some test samples, I can provide it

[2021-05-31 15:26] Mamatha-MSFT commented on #583
Hi @BustosAndrew - I have reproduced the same scenario that has been provided above. I am able to repro the issue with local storage setting  in authentication success callback. Will check this issue with internal team and will get back to you.

For fluent UI it's working as expected in teams desktop client.  I have provided the screenshot of fluent UI element getting rendered in teams desktop cli

[2021-06-02 09:18] Nikitha-MSFT commented on #539
We are working to provide more details. Currently the GetMeetingsDetail() API of BotSDK will return basic information for the meeting, such as the organizerId, the meetingResourceId, and the joinWebUrl of the meeting.

You will be able to use this information to make the following calls to Graph in 'user context':
GET https://graph.microsoft.com/beta/users/{organizedId}/onlineMeetings/{meetingReso

[2021-06-02 09:18] #539 closed

[2021-06-02 10:58] Jagadeesh-MSFT commented on #580
Hi @SLdragon, yah, that will help more , please share some more samples as well.

[2021-06-03 02:46] SLdragon commented on #580
Sure,
Here are the sample and steps:
1. Install VSCode Teams extension here: https://marketplace.visualstudio.com/items?itemName=TeamsDevApp.ms-teams-vscode-extension
2. Download this sample and open it in VSCode:
[sample.zip](https://github.com/OfficeDev/microsoft-teams-library-js/files/6588546/sample.zip)

3. Add two break point and click F5 to debug
![image](https://user-images.githubuserconten

[2021-06-03 06:52] ravibhusal commented on #583
@BustosAndrew does the successCallback actually get triggered in your case or the issue is just that the localStorage isn't getting set?

[2021-06-03 07:12] BustosAndrew commented on #583
It does get triggered but local storage won't set in the success callback.

[2021-06-03 08:53] Nikitha-MSFT commented on #581
Raised a bug.

[2021-06-04 05:38] Trinetra-MSFT commented on #575
Hi @ascott18 , Could you please confirm if you are using the latest [teams client SDK](https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js) in your Tab page?

[2021-06-04 21:52] ascott18 commented on #575
We're using 1.9.0, which per this very repository, is the latest version.
![image](https://user-images.githubusercontent.com/5017521/120866280-72d5e300-c544-11eb-8771-bc9709cf5306.png)

[2021-06-07 11:48] kafka-yu commented on #524
hi @Jagadeesh-MSFT Would you pls keep this thread updated when there has any progress? Very appreciated. Thank you!

[2021-06-08 03:40] Nikitha-MSFT commented on #532
@theentropic - Could you please share the client request id and timestamp?

[2021-06-08 04:00] Nikitha-MSFT commented on #542
Could you please check Teams UI Toolkit should contain all the information, also please check this https://www.figma.com/community/file/916836509871353159 / [design toolkit](https://docs.microsoft.com/en-us/windows/uwp/design/downloads/) for more info.

[2021-06-08 04:52] Trinetra-MSFT commented on #575
@ascott18 , Yes v.1.10.0 is the latest one, but this method is also available in v1.9.0 as well, @Sridevi-MSFT , Could you please try to integrate this in an configuration page?

[2021-06-08 09:19] ra700 opened #586 "Teams SSO getAuthToken Issue"
Hello,

We are developing teams tab application with SSO and we use the following flow.
1. Call microsoftTeams.authentication.getAuthToken to get token.
2. This token is exchanged with access token using on-behalf-of flow.
3. If the exchange fails due to consent required we call microsoftTeams.authentication.authenticate with relevant parameters and after consent approval we get the access token.

[2021-06-08 13:54] theentropic commented on #532
@Nikitha-MSFT is this what you need?  This is when I first encountered it:

`
AUTHMSAL: Event: adal:tokenRenewFailure, code: invalid_resource|AADSTS500011: The resource principal named api://[mydomain]/[myappid] was not found in the tenant named [tenant]. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You migh

[2021-06-08 18:07] theentropic commented on #532
@Nikitha-MSFT just set it up again, here's the errors I'm getting in the console:

`
0.2-angular-jquery.min-eee9041.js:114 2021-06-08T18:05:42.345Z AUTHMSAL: Event: adal:tokenRenewFailure, code: token_renewal_error|Token renewal operation failed due to timeout., resource: api://[domain]/[appId], action: renewalTimeout
(anonymous) @ 0.2-angular-jquery.min-eee9041.js:114
(anonymous) @ 3.2-app.min-da

[2021-06-08 18:47] Jagadeesh-MSFT commented on #524
@kafka-yu, our Engineering Team is working on it, we will update you soon. Currently we don't have any ETA to share with you.

[2021-06-09 07:02] kafka-yu commented on #524
@Jagadeesh-MSFT thank you!!!! ❤️

[2021-06-09 12:12] Jagadeesh-MSFT commented on #580
Hi @SLdragon, we have raised bug for this , our engineering team is working on it. We don't have ETA to share for the fix.

[2021-06-09 17:08] Nikitha-MSFT commented on #586
We are looking into the issue we will get back to you soon

[2021-06-10 02:17] SLdragon commented on #580
Thank you @Jagadeesh-MSFT

[2021-06-10 19:36] amansani15 opened #588 "subEntityId value is empty"
I have two **static tabs** (tab1 and tab2) in my app. I am launching the tab2 from tab1 using deeplinkurl which is perfectly working fine. **Below is the deeplinkurl**

msTeams.executeDeepLink("https://teams.microsoft.com/1/entity/appidvalue/entityid?webUrl=https://localhost:3000/index.html#/tab2)

Now, I have a situation where I want to load a file based on the value I am sending from the tab1 to

[2021-06-11 05:06] Jagadeesh-MSFT commented on #582
Hi @creage , We have raised a bug on this. Our engineering team is working on it , we don't have any ETA to share about the fix.

[2021-06-11 06:40] Nikitha-MSFT commented on #532
We are checking internally get back to you soon

[2021-06-11 08:10] Mamatha-MSFT commented on #588
Hi @amansani15 -  All query parameters should be properly URI encoded. You must follow the preceeding example
[code]

Please check this [doc ](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links) form more info.

[2021-06-11 12:07] amansani15 commented on #588
Hello @Mamatha-MSFT, I have already gone through the document before and I had tried encoding too, but the value was still empty even after encoding that is why I didn't put that info before. **Here is the one which I have tried before:**

var encodedWebUrl = encodeURI('https://localhost:3000/index.html#/tab2');
var encodedContext = encodeURI('{"subEntityId": "testParameter"}');
var taskItemUrl =

[2021-06-12 07:37] BustosAndrew commented on #583
Any update on this issue? Is there any workaround besides the one shown in the code sample?

[2021-06-14 03:39] Mamatha-MSFT commented on #583
@BustosAndrew -  `ls.set()` is working as expected in `successCallback()`. Could you please confirm are you getting any value in `tokenObj` while `successCallback` method get triggered?

[2021-06-14 03:45] BustosAndrew commented on #583
I'll let you know in the coming days.

[2021-06-14 04:47] Mamatha-MSFT commented on #588
Hi @amansani15 - I am unable to repro the issue. I am able to get the value of `subEntityId`. FYI the `subEntityId `will be avaialable only when you deeplink from tab1 to tab2 and `subEntityId `will be empty when you directly open a tab2.

[2021-06-14 10:38] Sridevi-MSFT commented on #575
@ascott18 - I have integrated the microsoftTeams.registerBeforeUnloadHandler() in configuration page and it's working fine.
Could you please check this with latest SDK version 1.10.0

`<script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js" integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv" crossorigin="anonymous"></script>`

[2021-06-14 13:00] #542 closed

[2021-06-14 13:58] amansani15 commented on #588
Hello @Mamatha-MSFT. I am sharing the script files, console logs and screenshots for better understanding and might help to reproduce the issue at your end.

**---------console logs----------**
![consoleLog](https://user-images.githubusercontent.com/62998123/121903239-18801380-ccf6-11eb-9596-4bd4e0dec894.PNG)

**------Tab1 and Tab2--------**
![tab1](https://user-images.githubusercontent.com/629981

[2021-06-14 16:11] Mamatha-MSFT commented on #588
Hi @amansani15  - I have tried with the code which you have provided above. You are not getting `subEntityId `because of incorrect `webUrl`. I think it's the issue with "**#**" symbol in your `webUrl`.  Remove the "**#**" in your `webUrl `and you will get a subEntityId.
var encodedWebUrl = encodeURI('https://localhost:3000/index.html');

[2021-06-14 17:42] amansani15 commented on #588
Hello @Mamatha-MSFT

Thank you. Now I am able to see the subEntityID value after removing '#' from the url.

I have assigned the context property values to a variable and the value is undefined when I am trying to access that variable value outside of the getContext method. May I know how to assign the context values  to some variable and access it outside of the getContext. I am unable to print/d

[2021-06-14 18:08] ascott18 commented on #575
Thanks for enabling it, looks like its working now.

However, I must reiterate that it is still entirely undocumented on https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams?view=msteams-client-js-latest

[2021-06-15 04:30] Ravindra-MSFT commented on #577
HI @ascott18, it seems like the developer might have a bug in integration with the ApplicationInsights-JS SDK which is resulting in these not_specified errors getting logged. Can you please take a look at this similar issue and double check that they are correctly passing the exception information to the App Insights SDK.

[2021-06-15 05:02] Nikitha-MSFT commented on #586
The getAuthToken() is only valid for consenting to a limited set of user-level APIs that is email, profile, offline_access and OpenId. It is not used for further Graph scopes such as User.Read or Mail.Read. For suggested workarounds, see [additional Graph scopes](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso#apps-that-require-additional-graph-scop

[2021-06-15 05:26] Mamatha-MSFT commented on #588
@amansani15 - Please check below code to replace your **viewer.tsx** file

[code]

[2021-06-15 12:06] Sridevi-MSFT commented on #584
@ffarguelles - The getLocation API is in works on desktop/web clients and is not released yet.

[2021-06-15 12:08] Sridevi-MSFT commented on #389
The getLocation API is in works on desktop/web clients and is not released yet.

[2021-06-15 12:08] #389 closed

[2021-06-15 12:09] #584 closed

[2021-06-15 13:23] Sridevi-MSFT commented on #575
Add microsoftTeams.registerBeforeUnloadHandler() function in this documentation https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams?view=msteams-client-js-latest

[2021-06-15 14:06] amansani15 commented on #588
Awesome, working like a charm. Just one thing, we need to initialize microsoftTeams library - msTeams.initialize().

Thank you so much for all the help.

[2021-06-15 14:06] #588 closed

[2021-06-16 04:21] Jagadeesh-MSFT commented on #577
Hi @ascott18, it seems like there might have a bug in your integration with the ApplicationInsights-JS SDK which is resulting in these not_specified errors getting logged. Could you please take a look at this similar issue and double check that you are correctly passing the exception information to the App Insights SDK:
Getting error messages of the format not_specified at e.sendExceptionInternal

[2021-06-16 12:07] Jagadeesh-MSFT commented on #562
Hi @SLdragon , we are unable to repro your issue from our end , could you please let us know if you are still facing the issue.

[2021-06-16 19:23] ascott18 commented on #577
@Jagadeesh-MSFT We are not manually calling `trackException` - this is being caught by the passive error catching mechanisms of the AI JS SDK.

[2021-06-17 01:35] SLdragon commented on #562
Thanks, I think this is related to this issue: https://github.com/OfficeDev/microsoft-teams-library-js/issues/580, we can use that one to track

[2021-06-17 03:16] Jagadeesh-MSFT commented on #562
Hi @SLdragon, we are closing this issue here and will track from  [#580](https://github.com/OfficeDev/microsoft-teams-library-js/issues/580), feel free to reopen the issue if you have any further quires on this.
Thank you .

[2021-06-17 03:16] #562 closed

[2021-06-17 05:51] NewFuture opened #590 "getContext was hang in compose extension settings page (Teams Client Beta)"
SDK version 1.8 to 1.10

In the Teams desktop clients under Beta Version (R0 to R3), the `getContext` hang when open the `settings` page of  `compose extension`.

maybe related to #580

[2021-06-18 05:52] Nikitha-MSFT commented on #581
We are tracking the bug internally, We don't have ETA to share when it will be fixed

[2021-06-18 12:36] Nikitha-MSFT commented on #590
We are checking internally get back to you.

[2021-06-20 12:12] BustosAndrew commented on #583
I am not getting any value in the tokenObj when passing it into console.log().

[2021-06-21 06:19] Nikitha-MSFT commented on #532
The error message in the console is:

This typically implies You has not registered your app with AAD correctly or have a typo in the resource URI they are using. We have detailed documentation here on the appropriate steps in order to register their app with AAD:

[Single sign-on support for tabs - Teams | Microsoft Docs](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authen

[2021-06-21 13:28] Jagadeesh-MSFT commented on #577
Hi @ascott18, we are taking this to our internal team, will update you soon.

[2021-06-21 13:54] theentropic commented on #532
Yes, I've triple checked those settings and they are matching.  The second time I request a token I get the "renewalTimeout" message.  I also just checked Azure, and it's enabled correctly according to your screenshot above.

![image](https://user-images.githubusercontent.com/8108397/122773508-6a84e400-d276-11eb-887c-e4b4feb5e4bf.png)

If you need anymore information, please let me know.  I'd love

[2021-06-21 14:17] Mamatha-MSFT commented on #583
@BustosAndrew - Is GetTokenObject() is an predefined function or your customized function?

[2021-06-21 22:25] BustosAndrew commented on #583
@Mamatha-MSFT it is a function I created/customized. Async function.

[2021-06-22 12:14] Nikitha-MSFT commented on #532
@theentropic -Could you please this:
This typically implies You has not registered your app with AAD correctly or have a typo in the resource URI they are using. We have detailed documentation here on the appropriate steps in order to register their app with AAD:

[Single sign-on support for tabs - Teams | Microsoft Docs](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authent

[2021-06-22 13:07] dmcweeney commented on #532
@Nikitha-MSFT  I was getting this error very intermittingly - AAD registration was correct amd resource Uri was correct. And there was a delay of about 30 seconds when I got it. So there is something else going on...

[2021-06-22 13:25] theentropic commented on #532
@Nikitha-MSFT I've followed that document at least 3 or 4 times in attempts to fix the problem, yet it persists.  I agree with @dmcweeney that something else is going on...

[2021-06-22 13:49] vkwc commented on #429
We are also facing this issue , does anyone find a work around ?

[2021-06-22 19:00] #586 closed

[2021-06-23 10:11] ishanisuchak opened #593 "Teams getLocation API doesn't work with sdk version 1.9.0 and 1.10.0"
**SDK Version**: 1.9.0 and 1.10.0

**Issue**:

According to MS documentation [here](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/device-capabilities/native-device-permissions?tabs=desktop#use-teams-apis-to-get-device-permissions), HTML5 geolocation API is not fully supported in teams and we should be using the Teams getLocation API instead:

![image](https://user-images.github

[2021-06-23 13:11] Sridevi-MSFT commented on #593
Hi @ishanisuchak -  The getLocation API is in works on desktop/web clients and is not released yet.

[2021-06-23 13:20] ishanisuchak commented on #593
It is mentioned though that the getLocation API should be used in place of the HTML 5 geolocation API: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/device-capabilities/native-device-permissions?tabs=desktop#use-teams-apis-to-get-device-permissions

Anyway to use the HTML geolocation API in teams?

Right now it throws this error if used in Teams: **Network location provider at

[2021-06-23 13:58] Mamatha-MSFT commented on #583
@BustosAndrew - I have tried with async function in successCallback(). It's working as expected. I think the issue is with your customized GetTokenObject() function.

[2021-06-23 14:43] mykyta-Koptsov commented on #544
hi, guys
our team have the same issue. ` getTabInstances`  doesn't work on mobile application.
Any updates on this issue ?
in Web and Desktop  application this approach works fine
[code]
I tried to wrap code in Promise but it didn't work for me
[code]

[2021-06-23 15:50] mykyta-Koptsov commented on #544
And the same isuue I have with `microsoftTeams.getMruTabInstances` function never resolves on mobile application.

[2021-06-24 09:38] ianloubser opened #594 "`getUserMedia` not working in Teams Mobile App task module"
We built an integration for our web app (http://budgie.chat/) into microsoft teams. Our app is implemented as a message extension and makes use of task modules to render our page where `getUserMedia` is called to display the user's camera stream.

We've configured media permissions in our app manifest. The result works on Teams Web and the Desktop app but not at all in the mobile app. When trying

[2021-06-24 10:40] Nikitha-MSFT commented on #594
We are trying to repro it it at our end.We will get back to you soon

[2021-06-24 21:09] FlorianGrimm commented on #528
I'm currently working on the same? problem.

In the sample
https://github.com/OfficeDev/Microsoft-Teams-Samples/blob/main/samples/tab-sso/csharp/TeamsTabSSO/Views/Auth/End.cshtml
line 24
                microsoftTeams.authentication.notifySuccess({
                    idToken: hashParams["id_token"],
                   ....
an object is given ... but the MicrosoftTeams.d.ts say it must be a string

[2021-06-29 12:05] BustosAndrew commented on #583
Sorry for the prolonged wait I will get back to you within a day.

[2021-06-30 06:57] kafka-yu commented on #594
We met this on the pop-out window at desktop client as well :D https://github.com/OfficeDev/microsoft-teams-library-js/issues/524

[2021-06-30 07:46] Nikitha-MSFT commented on #594
This is a know issue We have a bug on this. Internal team is working on it. We don't have ETA to share when it will be fixed.

[2021-06-30 08:34] Nikitha-MSFT commented on #590
Tracking the issue : https://github.com/OfficeDev/microsoft-teams-library-js/issues/580. Closing the issue here.

[2021-06-30 08:34] #590 closed

[2021-06-30 09:25] jouhami opened #597 "setFrameContext() does not update the frame context"
I have a similar need like the one discussed in this issue #204 but seems like the [`setFrameContext`](https://github.com/OfficeDev/microsoft-teams-library-js/issues/204#issuecomment-600742353) has no effect and here is how I'm doing it inside a `useEffect()` hook :

[code]

The `Go to website` and `Reload tab` actions are still pointing to the initial URLs in the manifests.

The domain  `dsf154sd

[2021-06-30 15:16] mdissel opened #599 "support for back/forward in custom team app"
In our single page app (that is loaded as a team app (full screen) or team tab) you can navigate to different parts.
When we use executeDeeplink(..) to open a document and close the document, our team app is reloaded with the initial page.

Is it possible to "register" the navigation in our app so that the back or close function doesn't reload the initial page.

[2021-06-30 18:21] Wajeed-msft commented on #532
@theentropic - just to isolate the issue and confirm that there is nothing missing/incorrect in configuration, could you please try creating [demo SSO app using Toolkit](https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/visual-studio-code-overview#use-the-teams-toolkit-for-visual-studio-code). Toolkit creates the app and takes care of configuring the app. Please let us know if you a

[2021-07-01 02:14] thure opened #602 "Support SSR applications"
Not all Teams apps are SPA's - crucially, a project which supports server-side rendering will encounter build errors if this package is loaded since `window` is not defined.

This package should at least return some sort of default value instead of erroring when `window` is not defined.

[2021-07-01 07:53] researchdeveloping commented on #532
Hi, I have the same issues from last month. It happens randomly, but last weeks more often. Earlier for months it never happened before. Because of this is not possible to use a developed application (AAD is configured correctly, I have just "renewalTimeout" error: AUTHMSAL:tokenRenewFailure, code: token_renewal_error|Token renewal operation failed due to timeout., resource: api:XXX action: renewa

[2021-07-01 20:00] theentropic commented on #532
@Wajeed-msft I tried to follow the link, but the app it generates in VSCode appears to use popup authentication flow, and not SSO.  If there's another guide you'd like me to follow please let me know as I'd be happy to get this problem resolved.

[2021-07-02 17:24] BustosAndrew commented on #583
I looked over my custom function and it's still not working on my end.

Function code:
[code]

[2021-07-03 12:19] mykyta-Koptsov opened #604 "handle, when user closes task module."
i founded method that handles this action. When user closes task module , clicl on X. This is callback `submitHandler` in method `microsoftTeams.tasks.startTask()`. But when i tried to implement this it's not works for me.
[code]
Any suggestions or opinions on what I did wrong?

![Screenshot 2021-07-03 at 15 18 07](https://user-images.githubusercontent.com/57220090/127985808-399d3e44-4a1f-44cf-a2c

[2021-07-05 17:29] Wajeed-msft commented on #577
@ydogandjiev - do you know what might be going wrong here?

[2021-07-06 13:11] mykyta-Koptsov commented on #604
Hey guys, Can you help me with my question?

[2021-07-06 14:33] theentropic commented on #532
@dmcweeney You might need to post here, I don't think my comments are being counted towards the bot.

[2021-07-06 14:38] dmcweeney commented on #532
@theentropic the bot just work up!

[2021-07-08 20:46] stefan2410 opened #608 "Messaging between bots of the same tenant"
As an idea probably
A calling bot registered to the tenant  join the calls.  If there is another bot - tabbed application in users, would be possible the first bot to send json messages to the user (via graph, it knows the user ID and/or UPN),   including in the message the AppId of the front-end bot, which could listen in events using the microsoft-teams-library-js,  to get the message?

[2021-07-09 10:22] Wajeed-msft commented on #583
@BustosAndrew - just because I see some commented code in snippet which talks about cookies, I am wondering if cookies  worked for you or not.  Please take a look at [SameSite cookie attribute updates](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/samesite-cookie-update).

Regarding the repro part, would it be possible for you to share manifest/ sample code which we could use

[2021-07-09 18:49] sergesama opened #610 "Download file in teams mobile app doesn`t work."

[2021-07-09 18:49] #610 closed

[2021-07-09 19:41] sergesama opened #611 "Download file in teams mobile app doesn`t work."
I am working on downloading pdf / docx files while developing TeamsApp . I have a problem when I am initiating download by click on the invisible link with attribute download(filename) and url.
Code example:

[code]

In web browsers its working normal. In Teams desktop version file is saved in standart download folder without Teams notification.
But on iOS(v14.4.6) and Android(10 QKQ1.191215.002)

[2021-07-09 23:39] gablabelle commented on #602
We are facing the same issue. We are using next.js and in order to get pass these errors we have to make sure the library is only used client side.

@thure to get pass this, you can lazy import/require the library in a useEffect hook because it only runs client side or if you use next.js, use their `dynamic` component and disable ssr as per the [next.js documentation](https://nextjs.org/docs/advan

[2021-07-11 17:21] Wajeed-msft commented on #593
@ishanisuchak - currently there is no workaround to use getLocation API in Teams desktop client.

[2021-07-11 18:27] Wajeed-msft commented on #604
Hi @mykyta-Koptsov - I am looking into this.

[2021-07-11 18:30] Wajeed-msft commented on #604
@mykyta-Koptsov - could you please try [Demo Task Module app manifest](https://github.com/OfficeDev/Microsoft-Teams-Samples/blob/main/samples/app-task-module/csharp/Microsoft.Teams.Samples.TaskModule.Web/Manifest/TaskModuleCSharp.zip) and let me know if event is getting triggered for you?
![image](https://user-images.githubusercontent.com/31851992/125206269-0e751480-e2a4-11eb-812a-32fcf0533153.png

[2021-07-12 19:42] mykyta-Koptsov commented on #604
hey @Wajeed-msft , I tried to use your manifest. Your manifest works expected. And I sow this example code before and try to implement by this example.
I use `"botbuilder": "4.13.4" `,
 And i attached my manifest
 `{
  "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.8/MicrosoftTeams.schema.json",
  "manifestVersion": "1.8",
  "version": "255.255.255",
  "id": "fa96d6c3-c376

[2021-07-13 18:03] niteshjain1987 commented on #532
I am getting same issue.
i just creating bot and with tab app.
bot auth with AD is working. but when i try to fetch token on tab app is give me same above issue.
i have take latest release npm i @microsoft/teams-js.
"webApplicationInfo": {
      "id": "{client id}",
      "resource": "api://tml-react-bot.azurewebsites.net/{client id}",
      "applicationPermissions": [
        "access_as_user",

[2021-07-13 18:09] Wajeed-msft commented on #532
@niteshjain1987  -  Are you also getting this as intermitten issue?

@dmcweeney, @theentropic - would it be possible to share the manifest which I could use to repro this? If you like, you could share it with me via email (mentioned in my GitHub profile).

[2021-07-13 18:22] niteshjain1987 commented on #532
i have shared manifest with you on emial if you want to see configuration then i will be connect with call.
![bug](https://user-images.githubusercontent.com/17414613/125504824-ee4a19a2-d8ea-44e1-8a5f-936cc71e207b.png)

i just taking reference-: https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso

[2021-07-14 06:02] adaptgurus opened #615 "I want to implement all team functionalities in my website and mobile app"
Hi,

We want to implement Microsoft Teams in our Website and mobile app functionalities:
Start Meeting
End Meeting
Video Recoding
Screen Sharing
Whiteboard

integration in our website we are using Nodejs and for frontend we are using bootstrap

but this current code is not working and I am not able to find any tutorials

Please help me

[2021-07-14 09:12] niteshjain1987 commented on #532
Is there any update

[2021-07-14 09:21] peterkappelt opened #616 "The "initialize" method is asynchronous, but not properly returning a promise"
Hey folks, hope y'all are doing well.

This issue is basically a re-open of https://github.com/OfficeDev/microsoft-teams-library-js/issues/172

The initialize method of the teams sdk is asynchronous, but it takes a callback rather than properly returning a promise (which I consider a best-practice). In #172, a fix was announced in Release 1.5 - but nothing has happened yet since.

Could you take a

[2021-07-14 16:54] niteshjain1987 commented on #532
@Wajeed-msft  Is there any update?

[2021-07-14 17:00] Wajeed-msft commented on #532
@niteshjain1987 - I looked at the manifest, I don't see any issue specific to SSO. Can't test the manifest as there are no Ids mentioned. I'll try and repro it with [demo app](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso) and share the results.

Btw, Manifest only supports [RSC permissions](https://docs.microsoft.com/en-us/microsoftteams/platform

[2021-07-14 20:25] BustosAndrew commented on #583
Cookies I faced the same issue.
Also, you're asking for me to share my manifest on here? @Wajeed-msft

[2021-07-15 10:17] CalamityLorenzo opened #617 "[1.8.0, 1.10.0, 1.11.3-beta] initialize() and getContext not firing in popup window Microsoft Teams Version 1.4.00.16575(64bit desktop)"
My application has a popup window to handle an MSAL login.
The detects we are in teams desktop and calls the following
[code]
In the pop-up the following code is called.

[code]
This has worked fine for two years.
It starts a login redirect flow and returns the token, for processing etc etc.

However now, when the pop-up is launched, the `microsoftTeams.initialize()` does nothing, and just falls t

[2021-07-15 12:38] CalamityLorenzo commented on #617
It works as expected in **Teams 1.4.00.11161**

[2021-07-16 07:12] v-chetsh commented on #611
Hello @sergesama,
We are looking into it.
We will let you know soon.

[2021-07-16 21:10] christophepeerens commented on #532
Hello,

I have the same concerns. In all of my Teams apps.

My apps have been in use since December 2020. I had no problem getting the token via SSO until the end of March.
So unless I need to do something more or the specs have changed during this time, I am confident that the single sign-on implementation follows the guide posted on the MS webpages and the configuration part AD is good. It worke

[2021-07-17 12:57] Wajeed-msft commented on #583
@BustosAndrew - you could share it directly on [Microsoft Teams Community Help](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback) alias mention on the doc page.

[2021-07-19 13:59] v-chetsh commented on #611
Hello
Looks like download functionality is not supported On Android device as of now.
We have verified with ReactJS code also but it's not supported for now.

Thanks!!

[2021-07-19 14:32] v-chetsh commented on #604
Hello @mykyta-Koptsov,
Looks like you are trying to invoke Task Module from Messaging Extension.
This event will be handled by Bot TeamsActivityHandler class method name: OnTeamsTaskModuleSubmitAsync().
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/bot-basics?tabs=csharp#teams-invoke-activities

Invoking the method microsoftTeams.tasks.startTask() works if we are opening a Task Mod

[2021-07-19 14:32] sergesama commented on #611
@v-chetsh Its not supported on iOS device too?

[2021-07-19 15:01] v-chetsh commented on #611
@sergesama, We have tested it in Android device & it's not supported.
We haven't verified for iOS device but we have a less functionality support on mobiles in comparison to Desktop/Web Teams client.
So it may not work on iOS device too.

[2021-07-19 21:34] AlexisGlez opened #618 "App within Microsoft Teams App Desktop unable to go fullscreen"
Hello :)

I am creating an app for Microsoft Teams and one of the features that it has is the ability for it to go into full screen mode. The way I implemented this was with the web API and it works great in teams Web, but it seems that the Microsoft Teams Desktop App is blocking/removing the fullscreen API from the DOM, which is not allowing the app to go into full screen mode.

My question is, i

[2021-07-21 02:51] BustosAndrew commented on #583
Actually I'll just put my manifest on here if that's fine.

[2021-07-21 05:38] researchdeveloping commented on #532
Hello,

I have still the same problems (until a few months) e.g.:

`
2021-07-21T05:28:02.766Z AUTHMSAL: Event: adal:tokenRenewFailure, code: token_renewal_error|Token renewal operation failed due to timeout., resource: 4580fd1d-e5a3-4f56-9ad1-aab0e3bf8f76, action: renewalTimeout
(anonymous) @ 0.2-angular-jquery.min-eee9041.js:114

021-07-21T05:28:02.945Z IdentityService: timeout waiting for aggreg

[2021-07-23 07:56] BustosAndrew commented on #583
[code]

Sorry for the delay @Wajeed-msft. I probably didn't mention before, but this project was generated with a yeoman generator for teams. Let me know if you need anything else.

[2021-07-27 10:25] v-chetsh commented on #616
We are looking into it and get back to you soon.

[2021-07-31 22:24] vman commented on #412
Thanks @swsvindland! Just bumped into this one and your fix solved it for me.

[2021-08-04 10:06] Joyeconnect opened #625 "Teams media SDK for microphone"
1) We need to set the max recording time in seconds.... the current SDK has a function 'maxDuration' which only takes whole integers in minutes. With this we can set it for a minimum of 1min, we need this to be allowed in seconds
2) control the 'stop' action from our code and our own UI functionality, and to hide the Team's recording display bar.
3) the audio recording output is not clear. How can

[2021-08-04 13:58] Prithvi-MSFT commented on #597
Hi, we are looking into this issue and will get back to you

[2021-08-05 09:40] Prithvi-MSFT commented on #615
Hi, you can create meeting using graph api
https://docs.microsoft.com/en-us/graph/api/application-post-onlinemeetings?view=graph-rest-1.0&tabs=http
Also you can include whiteboard in your meetings
https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/design/designing-apps-in-meetings?tabs=desktop#use-cases-2

However even when you create a meeting using graph api, to join

[2021-08-05 11:10] v-chetsh commented on #608
We are checking on it's possibility & get back to you.

[2021-08-05 14:36] Prithvi-MSFT commented on #618
Hi, I did not find any method to switch the tab in full screen using. Let me confirm with internal team and get back to you.

[2021-08-05 18:23] Prithvi-MSFT commented on #599
Hi, execute deep link will navigate you to a different link or trigger a client action so at teams scope whenever you close the document it will always redirect to initial URL. So if you want to maintain navigation you will need to add custom logic at code level.

[2021-08-05 19:01] HunaidHanfee-MSFT commented on #625
Hello @Joyeconnect,
Currently the max durations takes value only in minutes, therefore minimum value will be 1 minute. So, we will raise it from our side but currently that's the default behavior.
All the above things like format are by default and we need to use custom logic to convert to other formats.
However you can use the output of media to bind to a custom control with features like play/pa

[2021-08-06 00:02] Joyeconnect commented on #625
Hello Hunaid,
Can you confirm what is the default format of the microphone recording?

[2021-08-06 00:14] Joyeconnect commented on #625
Hello @HunaidHanfee-MSFT
Can you confirm what is the default format of the microphone recording?

[2021-08-06 08:59] mdissel commented on #599
Thanks!
Is is possible to add entries to the back/forward history in Teams? so that if you navigatie in your app the user can use the back/forward buttons in Teams?

![image](https://user-images.githubusercontent.com/126084/128485493-7fcf0bc9-3e15-41d7-88eb-655857724ed2.png)

[2021-08-06 11:23] Prithvi-MSFT commented on #599
Hi, this navigation is part of teams product and we cannot add custom entries for navigation.

Thanks

[2021-08-06 11:47] HunaidHanfee-MSFT commented on #625
We have a [sample](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/tab-device-permissions/nodejs) ready. Yes, I have checked `attachments[0].mimeType` inside the  [method](https://github.com/OfficeDev/Microsoft-Teams-Samples/blob/f4ffab03943093d971c7ea1ae6c4ac2129e78ffe/samples/tab-device-permissions/nodejs/src/components/CaptureAudio.tsx#L21-L39) and its coming as video/mp4

[2021-08-06 12:34] HunaidHanfee-MSFT commented on #597
Hello,
We have faced the same issue, confirming with internal team.
Thanks

[2021-08-06 13:55] mdissel commented on #599
ok, please add this as a feature request.

[2021-08-06 14:09] Prithvi-MSFT commented on #599
Hi, You can raise feature request on https://microsoftteams.uservoice.com/

Tnanks

[2021-08-07 06:01] Joyeconnect commented on #625
Hello Hunaid, Thanks for sharing this. Some questions and help needed:

a) while we see the code to 'start' the 'mediaCapture', we also need the code to 'stop' the recording

b) while we see the code to customise the UI for 'mediaCapture' controls, we also need guidance to hide the standard-bar showing with recording status and the 'stop' button.

[2021-08-07 23:49] Joyeconnect commented on #625
We tried the code and not getting the ‘preview’. Please guide us

audioResult {
content: "4e258589-19a6-4f8c-a8e0-4d4fcbfcebc5"
format: "id"
mimeType: "video/mp4"
name: undefined
preview: ""
size: "10"
[[Prototype]]: t
}

"I am not getting a Preview in audioResult."

[2021-08-09 04:52] #412 closed

[2021-08-09 07:26] Meghana-MSFT commented on #602
@thure Could you please share a sample or minimal code snippet for us to repro the issue?

[2021-08-09 11:03] HunaidHanfee-MSFT commented on #597
Hello @jouhami,
So, after confirming internally, we can use [_setFrameContext_ ](https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams?view=msteams-client-js-latest#setFrameContext_FrameContext_)in configurable tabs and it worked fined. Please try using it in [configurable tabs](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/schema/manifest-schema#c

[2021-08-09 14:08] gablabelle commented on #602
Here you go https://stackblitz.com/edit/nextjs-avwbvb?file=pages%2Findex.js

Let stackblitz run the app install and display the working app on the right... Then uncomment the commented code below the TODO commnent and see that @microsoft/teams-js makes the app crash because it's trying to access `window` which doesn't exist when the code is running server-side (on nodejs).

The @microsoft/teams-js

[2021-08-09 19:00] #604 closed

[2021-08-10 05:05] stefan2410 opened #627 "Pop out app automatically"
Is it possible,  a tabs application to open a pop up window, clicking in the navigation bar, instead the right click ?

[2021-08-10 07:28] HunaidHanfee-MSFT commented on #625
Hello,
We are checking these with internal team. We will let you the answer.
Thanks

[2021-08-10 07:41] Joyeconnect commented on #625
Thanks! Awaiting!

[2021-08-10 08:41] jouhami commented on #597
Unless I'm mistaken it is not mentioned in the documentation that it works only in configurable tabs. Is there any reason why it's not implemented the same way for personal tabs ?

[2021-08-10 09:34] HunaidHanfee-MSFT commented on #597
For the personal tab, discussion is ongoing. I will keep you updated.

[2021-08-10 13:42] HunaidHanfee-MSFT commented on #625
Got answer for your query:
1. There is no way currently for the app to stop audio recording, other than the Stop button on the standard bar provided by Teams. Till then partner has to continue using the Stop button provided by Teams. Discussion is on going to STOP recording using API but its in very early stage, we can't share ETA.

2. Because the standard bar today has the controls for stopping a

[2021-08-10 14:20] kafka-yu commented on #524
Hi team,

May I know is there any update on this ticket?

We're still waiting for this to be resolved to deliver new features for our MS Teams app.

Thank you!

[2021-08-11 09:33] Prithvi-MSFT commented on #627
Hi, Currently this is not supported in teams however you can raise your voice here https://microsoftteams.uservoice.com/
The site temporarily down for now, will be running soon

[2021-08-11 12:56] ryannjohnson-range opened #629 "microsoftTeams.authentication.notifySuccess() causing CancelledByUser error on Windows desktop app"
We have a customer who is receiving a CancelledByUser error after taking a code path in our application that calls microsoftTeams.authentication.notifySuccess().

This only happens for them on their Windows desktop client for Teams. The notifySuccess() call works correctly for them in the Teams web client. It also works correctly for me on web, Windows desktop, and Mac desktop.

@microsoft/teams-j

[2021-08-11 13:04] sanjeev9160 opened #630 "Alternate when microsoftTeams.authentication.notifySuccess("{{verificationCode}}"); does not work"
Code sample:

Some of our customer using our App are complaining about the signin window not closing and we have referred to this code for our implementation. Reference: https://github.com/integrations/microsoft-teams/issues/141

https://github.com/OfficeDev/microsoft-teams-sample-auth-node/blob/master/src/views/oauth-callback-success.hbs#L33-L41

[code]

`In this customer is being asked to manual

[2021-08-12 13:15] HunaidHanfee-MSFT commented on #597
We have raised a bug for personal tabs.  We do not have an ETA to share but we will share updates on this thread.
Thanks

[2021-08-12 23:49] jameskleinschnitz commented on #581
+1

[2021-08-12 23:50] jameskleinschnitz commented on #532
+1

[2021-08-13 08:21] HunaidHanfee-MSFT commented on #625
I am closing this issue here. Reopen if you have any query.
Thanks

[2021-08-13 08:21] #625 closed

[2021-08-13 19:22] amansani15 opened #631 "Maintain state of subentityid value"
Hello all,

https://github.com/OfficeDev/microsoft-teams-library-js/issues/588

To continue to the above closed issue, I am looking to maintain the last passed subEntityId value even after switching to a different tab or clicking anywhere else outside of the current tab2.

**Steps:**
1) I have two tabs Tab1 and Tab2
2) I am passing the subEntityId value from tab1 to tab2 via deeplinkurl.
3) Loaded

[2021-08-16 05:38] kafka-yu commented on #524
hi @Jagadeesh-MSFT would you pls help check if there is any update for this one? Thank you!

[2021-08-16 05:57] Wajeed-msft commented on #524
@kafka-yu- checking status on this with engineering team.

[2021-08-16 06:56] kafka-yu opened #632 "[Question] Are we able to stop the tab been 'navigating-away'?"
Hi Team,

Is there any way we can stop navigation away from Tab? The scenarios are like:

- User is typing in our Tab
- When the user clicks other nav items
- It navigates away immediately
- Prompt notification to interop the action
- If the user choose NO
- Keep it stay at the Tab

I saw currently the SDK has 'registerBeforeUnloadHandler', but seems it cannot stop the navigation, the user will be

[2021-08-16 07:01] kafka-yu opened #633 "[Request] Can we manually trigger the pop-out in the Tab instead by using the icon button on the top right side?"
Hi Team,

Can we manually trigger the pop-out in the Tab instead by using the icon button on the top right side?
Looks like currently, no functions in the SDK can do this.

I think this is a new requirement?

[2021-08-16 07:06] kafka-yu commented on #575
team, just want to double confirm: `registerBeforeUnloadHandler` this handler won't stop the tab been navigated away right?

I saw the source code, it just tells the parent of the window that the tab is `readyToUnload`, no other blocking actions.

Are we able to do stop/interrupting against the navigating away action?

[2021-08-16 07:28] vladbondarenko1 commented on #532
Hi, also have same issue. Azure AD registration checked according to https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso and looks correct.

[2021-08-16 17:50] Wajeed-msft commented on #524
@kafka-yu - got updates from engineering team on this. This is more of a feature request to support device permissions in the multiwindow. Unfortunately we do not have an ETA to share publicly.

[2021-08-17 05:26] kafka-yu commented on #524
Ok, that would be a pity to hear that. Thank you @Wajeed-msft  for checking this.

[2021-08-17 09:16] HunaidHanfee-MSFT commented on #629
Hey, We are looking into this. We will get back to you soon.
Thanks.

[2021-08-17 14:22] HunaidHanfee-MSFT commented on #630
Hello. We are looking into this. We will get back to you soon.

[2021-08-18 09:21] HunaidHanfee-MSFT commented on #629
We tried at our end too but didn't faced any issue, can you please share minimal repro code with us? So that we can try with your code once.